[2020-04-19 19:54] Brend-Smits opened #2 "What should the interface look like?"
In GitLab by @Brend-Smits on Mar 4, 2020, 21:12

* Define the target audience
* Find out what the target audience finds important
* Define functional and non-functional requirements for a user interface
* Create sketches of possible user interfaces
* Test different user interfaces and see which one works best
* Create final draft of how the platform should look like

To not get stuck on creating t

[2020-04-19 19:54] Brend-Smits commented on #2
In GitLab by @Brend-Smits on Mar 5, 2020, 21:44

changed the description

[2020-04-19 19:54] Brend-Smits commented on #2
In GitLab by @RensNooren on Mar 9, 2020, 11:53

assigned to @EHeijboer and unassigned @RensNooren

[2020-04-19 19:54] Brend-Smits commented on #2
In GitLab by @RensNooren on Mar 9, 2020, 11:53

closed

[2020-04-19 19:54] #2 closed

[2020-04-19 19:54] Brend-Smits opened #3 "Target Audience subgroup: Fontys IT"
In GitLab by @Brend-Smits on Mar 4, 2020, 21:27

Defining the **subgroup: Students**
https://docs.google.com/document/d/1Tk_UDII39lStYoOoeLYddvGtGnseVOnCa0ybcYFGEkw/edit#heading=h.od91z3gkdjx

[2020-04-19 19:54] Brend-Smits commented on #3
In GitLab by @Brend-Smits on Mar 4, 2020, 21:27

changed due date to March 05, 2020

[2020-04-19 19:54] Brend-Smits commented on #3
In GitLab by @Brend-Smits on Mar 9, 2020, 11:51

changed due date to March 09, 2020

[2020-04-19 19:54] Brend-Smits commented on #3
In GitLab by @RensNooren on Mar 9, 2020, 14:42

closed

[2020-04-19 19:54] #3 closed

[2020-04-19 19:54] Brend-Smits opened #4 "Target Audience subgroup: II&A"
In GitLab by @Brend-Smits on Mar 5, 2020, 21:19

Defining the **subgroup: II&A**
https://docs.google.com/document/d/1Tk_UDII39lStYoOoeLYddvGtGnseVOnCa0ybcYFGEkw/edit#heading=h.od91z3gkdjx

[2020-04-19 19:54] Brend-Smits commented on #4
In GitLab by @Brend-Smits on Mar 5, 2020, 21:19

changed due date to March 05, 2020

[2020-04-19 19:54] Brend-Smits commented on #4
In GitLab by @Brend-Smits on Mar 9, 2020, 11:51

changed due date to March 09, 2020

[2020-04-19 19:54] Brend-Smits commented on #4
In GitLab by @RensNooren on Mar 9, 2020, 14:42

closed

[2020-04-19 19:55] #4 closed

[2020-04-19 19:55] Brend-Smits opened #5 "Target Audience subgroup: Research groups"
In GitLab by @Brend-Smits on Mar 5, 2020, 21:20

Defining the **subgroup: Research groups**
https://docs.google.com/document/d/1Tk_UDII39lStYoOoeLYddvGtGnseVOnCa0ybcYFGEkw/edit#heading=h.od91z3gkdjx

[2020-04-19 19:55] Brend-Smits commented on #5
In GitLab by @Brend-Smits on Mar 5, 2020, 21:20

changed due date to March 05, 2020

[2020-04-19 19:55] Brend-Smits commented on #5
In GitLab by @RensNooren on Mar 9, 2020, 14:47

closed

[2020-04-19 19:55] #5 closed

[2020-04-19 19:55] Brend-Smits opened #6 "Target Audience subgroup: Partners in Education"
In GitLab by @Brend-Smits on Mar 5, 2020, 21:20

Defining the **subgroup: Partners in Education**
https://docs.google.com/document/d/1Tk_UDII39lStYoOoeLYddvGtGnseVOnCa0ybcYFGEkw/edit#heading=h.od91z3gkdjx

[2020-04-19 19:55] Brend-Smits commented on #6
In GitLab by @RensNooren on Mar 9, 2020, 14:47

closed

[2020-04-19 19:55] #6 closed

[2020-04-19 19:55] Brend-Smits opened #7 "Target Audience subgroup: Teachers"
In GitLab by @Brend-Smits on Mar 5, 2020, 21:21

Defining the **subgroup: Teachers**
https://docs.google.com/document/d/1Tk_UDII39lStYoOoeLYddvGtGnseVOnCa0ybcYFGEkw/edit#heading=h.od91z3gkdjx

[2020-04-19 19:55] Brend-Smits commented on #7
In GitLab by @Brend-Smits on Mar 9, 2020, 11:51

changed due date to March 09, 2020

[2020-04-19 19:55] Brend-Smits commented on #7
In GitLab by @RensNooren on Mar 9, 2020, 14:10

closed

[2020-04-19 19:55] #7 closed

[2020-04-19 19:55] Brend-Smits opened #8 "Target Audience subgroup: Students"
In GitLab by @Brend-Smits on Mar 5, 2020, 21:22

Defining the **subgroup: Students**
https://docs.google.com/document/d/1Tk_UDII39lStYoOoeLYddvGtGnseVOnCa0ybcYFGEkw/edit#heading=h.od91z3gkdjx

[2020-04-19 19:55] Brend-Smits commented on #8
In GitLab by @Brend-Smits on Mar 5, 2020, 21:22

changed due date to March 05, 2020

[2020-04-19 19:55] Brend-Smits commented on #8
In GitLab by @Brend-Smits on Mar 9, 2020, 11:52

changed due date to March 09, 2020

[2020-04-19 19:55] Brend-Smits commented on #8
In GitLab by @RensNooren on Mar 9, 2020, 14:10

closed

[2020-04-19 19:55] #8 closed

[2020-04-19 19:55] Brend-Smits opened #9 "Define a target audience"
In GitLab by @Brend-Smits on Mar 5, 2020, 21:23

What is our target audience, define one and communicate it with the team. Write it down so it's easily located.
It's key to have a target audience defined as soon as possible, it can be redefined as the project goes.
There are multiple groups to keep in mind:

* Students
* Teachers
* Partners in Education
* Research groups and lectures(NL: lectoren)

[2020-04-19 19:55] Brend-Smits commented on #9
In GitLab by @RensNooren on Mar 9, 2020, 14:47

closed

[2020-04-19 19:56] #9 closed

[2020-04-19 19:56] Brend-Smits opened #10 "How does our target audience get to use the platform?"
In GitLab by @Brend-Smits on Mar 5, 2020, 21:54

We need to know how we can get our target audience to actually use the platform, document the research and discuss it with the stakeholder(s). How do we make it appealing in such a way that all of FHICT want to use the platform and everybody starts collaborating more? This involves requirement analysis, PR, marketing, branding and more.

Define a pl

[2020-04-19 19:56] Brend-Smits commented on #10
In GitLab by @RensNooren on Mar 9, 2020, 14:42

closed

[2020-04-19 19:56] #10 closed

[2020-04-19 19:56] Brend-Smits opened #11 "Tone of Voice"
In GitLab by @RensNooren on Mar 9, 2020, 14:48

Creating a tone of voice and adding it to the Target Audience document.

[2020-04-19 19:56] Brend-Smits commented on #11
In GitLab by @RensNooren on Mar 9, 2020, 15:26

changed title from **Tone of {-voice uitschrijven-}** to **Tone of {+Voice+}**

[2020-04-19 19:56] Brend-Smits commented on #11
In GitLab by @RensNooren on Mar 9, 2020, 15:26

changed the description

[2020-04-19 19:56] Brend-Smits commented on #11
In GitLab by @RensNooren on Mar 9, 2020, 15:28

assigned to @RensNooren

[2020-04-19 19:56] Brend-Smits commented on #11
In GitLab by @RensNooren on Mar 9, 2020, 18:56

changed due date to March 09, 2020

[2020-04-19 19:56] Brend-Smits commented on #11
In GitLab by @RensNooren on Mar 12, 2020, 20:12

closed

[2020-04-19 19:56] #11 closed

[2020-04-19 19:56] Brend-Smits opened #12 "Branding & UX design #1"
In GitLab by @RensNooren on Mar 9, 2020, 14:48

Creating a branding and a first applied design for the UX.

[2020-04-19 19:56] Brend-Smits commented on #12
In GitLab by @RensNooren on Mar 9, 2020, 15:25

changed title from **Branding {-opzet-} #1** to **Branding {+& UX design+} #1**

[2020-04-19 19:56] Brend-Smits commented on #12
In GitLab by @RensNooren on Mar 9, 2020, 15:25

changed the description

[2020-04-19 19:56] Brend-Smits commented on #12
In GitLab by @RensNooren on Mar 9, 2020, 15:28

assigned to @RensNooren

[2020-04-19 19:56] Brend-Smits commented on #12
In GitLab by @RensNooren on Mar 9, 2020, 18:55

changed due date to March 12, 2020

[2020-04-19 19:56] Brend-Smits commented on #12
In GitLab by @RensNooren on Mar 13, 2020, 12:28

closed

[2020-04-19 19:56] #12 closed

[2020-04-19 19:56] Brend-Smits opened #13 "Branding & UX design #2"
In GitLab by @RensNooren on Mar 9, 2020, 14:48

Creating a branding and a first applied design for the UX.

[2020-04-19 19:56] Brend-Smits commented on #13
In GitLab by @RensNooren on Mar 9, 2020, 15:25

changed title from **Branding {-opzet-} #2** to **Branding {+& UX design+} #2**

[2020-04-19 19:57] Brend-Smits commented on #13
In GitLab by @RensNooren on Mar 9, 2020, 15:25

changed the description

[2020-04-19 19:57] Brend-Smits commented on #13
In GitLab by @RensNooren on Mar 9, 2020, 15:28

assigned to @MaxKorlaar

[2020-04-19 19:57] Brend-Smits commented on #13
In GitLab by @RensNooren on Mar 9, 2020, 18:55

changed due date to March 12, 2020

[2020-04-19 19:57] Brend-Smits commented on #13
In GitLab by @MaxKorlaar on Mar 11, 2020, 14:57

made the issue confidential

[2020-04-19 19:57] Brend-Smits commented on #13
In GitLab by @MaxKorlaar on Mar 11, 2020, 14:57

made the issue visible to everyone

[2020-04-19 19:57] Brend-Smits commented on #13
In GitLab by @MaxKorlaar on Mar 11, 2020, 15:05

[DeX_wireframes_01.pdf](/uploads/9112ed05c06004b726b48268c35ca933/DeX_wireframes_01.pdf)

[2020-04-19 19:57] Brend-Smits commented on #13
In GitLab by @RensNooren on Mar 13, 2020, 12:28

closed

[2020-04-19 19:57] #13 closed

[2020-04-19 19:57] Brend-Smits opened #14 "Branding & UX design #3"
In GitLab by @RensNooren on Mar 9, 2020, 14:48

Creating a branding and a first applied design for the UX.

[2020-04-19 19:57] Brend-Smits commented on #14
In GitLab by @RensNooren on Mar 9, 2020, 15:25

changed title from **Branding {-opzet-} #3** to **Branding {+& UX design+} #3**

[2020-04-19 19:57] Brend-Smits commented on #14
In GitLab by @RensNooren on Mar 9, 2020, 15:25

changed the description

[2020-04-19 19:57] Brend-Smits commented on #14
In GitLab by @RensNooren on Mar 9, 2020, 15:28

assigned to @rebeccazw

[2020-04-19 19:57] Brend-Smits commented on #14
In GitLab by @RensNooren on Mar 9, 2020, 18:55

changed due date to March 12, 2020

[2020-04-19 19:57] Brend-Smits commented on #14
In GitLab by @RensNooren on Mar 13, 2020, 12:28

closed

[2020-04-19 19:57] #14 closed

[2020-04-19 19:57] Brend-Smits opened #15 "Branding & UX design #4"
In GitLab by @RensNooren on Mar 9, 2020, 14:48

Creating a branding and a first applied design for the UX.

[2020-04-19 19:57] Brend-Smits commented on #15
In GitLab by @RensNooren on Mar 9, 2020, 15:25

changed title from **Branding {-opzet-} #4** to **Branding {+& UX design+} #4**

[2020-04-19 19:57] Brend-Smits commented on #15
In GitLab by @RensNooren on Mar 9, 2020, 15:25

changed the description

[2020-04-19 19:57] Brend-Smits commented on #15
In GitLab by @RensNooren on Mar 9, 2020, 15:28

assigned to @EHeijboer

[2020-04-19 19:57] Brend-Smits commented on #15
In GitLab by @RensNooren on Mar 9, 2020, 18:55

changed due date to March 12, 2020

[2020-04-19 19:58] Brend-Smits commented on #15
In GitLab by @RensNooren on Mar 13, 2020, 12:28

closed

[2020-04-19 19:58] #15 closed

[2020-04-19 19:58] Brend-Smits opened #16 "Writing usertest Tone of Voice"
In GitLab by @RensNooren on Mar 9, 2020, 14:49

Validating the tone of voice with a test plan.

[2020-04-19 19:58] Brend-Smits commented on #16
In GitLab by @RensNooren on Mar 9, 2020, 15:22

changed title from **{-Usertest Tone of voice schrijven-}** to **{+Writing usertest Tone of Voice+}**

[2020-04-19 19:58] Brend-Smits commented on #16
In GitLab by @RensNooren on Mar 9, 2020, 15:22

changed the description

[2020-04-19 19:58] Brend-Smits commented on #16
In GitLab by @RensNooren on Mar 9, 2020, 18:55

changed due date to March 13, 2020

[2020-04-19 19:58] Brend-Smits commented on #16
In GitLab by @RensNooren on Mar 13, 2020, 12:29

assigned to @RensNooren

[2020-04-19 19:58] Brend-Smits commented on #16
In GitLab by @RensNooren on Mar 16, 2020, 11:49

changed due date to March 17, 2020

[2020-04-19 19:58] Brend-Smits commented on #16
In GitLab by @RensNooren on Mar 23, 2020, 11:00

closed

[2020-04-19 19:58] #16 closed

[2020-04-19 19:58] Brend-Smits opened #17 "Writing usertest Wireframe UX"
In GitLab by @RensNooren on Mar 9, 2020, 14:49

Creating a test plan to validate the designs for DeX

[2020-04-19 19:58] Brend-Smits commented on #17
In GitLab by @RensNooren on Mar 9, 2020, 15:21

changed title from **{-Usertest Wireframe functionaliteiten schrijven-}** to **{+Writing usertest Wireframe+}**

[2020-04-19 19:58] Brend-Smits commented on #17
In GitLab by @RensNooren on Mar 9, 2020, 15:21

changed the description

[2020-04-19 19:58] Brend-Smits commented on #17
In GitLab by @RensNooren on Mar 9, 2020, 15:21

changed title from **Writing usertest Wireframe** to **Writing usertest Wireframe{+ UX+}**

[2020-04-19 19:58] Brend-Smits commented on #17
In GitLab by @RensNooren on Mar 9, 2020, 18:55

changed due date to March 13, 2020

[2020-04-19 19:58] Brend-Smits commented on #17
In GitLab by @RensNooren on Mar 13, 2020, 12:29

assigned to @RensNooren

[2020-04-19 19:58] Brend-Smits commented on #17
In GitLab by @RensNooren on Mar 13, 2020, 12:29

unassigned @RensNooren

[2020-04-19 19:58] Brend-Smits commented on #17
In GitLab by @RensNooren on Mar 13, 2020, 12:29

assigned to @RensNooren

[2020-04-19 19:58] Brend-Smits commented on #17
In GitLab by @RensNooren on Mar 16, 2020, 11:49

changed due date to March 17, 2020

[2020-04-19 19:59] Brend-Smits commented on #17
In GitLab by @RensNooren on Mar 23, 2020, 11:00

closed

[2020-04-19 19:59] #17 closed

[2020-04-19 19:59] Brend-Smits opened #18 "Usertesting Tone of Voice"
In GitLab by @RensNooren on Mar 9, 2020, 14:49

Executing a test for the Tone of Voice
*  Does the tone of voice fit the expectations?
*  Does the tone of voice fit the purpose of the platform?

[2020-04-19 19:59] Brend-Smits commented on #18
In GitLab by @RensNooren on Mar 9, 2020, 15:19

changed title from **Usertest{- Tone of voice uitvoeren-}** to **Usertest{+ing Tone of Voice+}**

[2020-04-19 19:59] Brend-Smits commented on #18
In GitLab by @RensNooren on Mar 9, 2020, 15:19

changed the description

[2020-04-19 19:59] Brend-Smits commented on #18
In GitLab by @RensNooren on Mar 9, 2020, 18:55

changed due date to March 13, 2020

[2020-04-19 19:59] Brend-Smits commented on #18
In GitLab by @RensNooren on Mar 23, 2020, 12:05

assigned to @RensNooren

[2020-04-19 19:59] Brend-Smits commented on #18
In GitLab by @RensNooren on Mar 24, 2020, 12:12

changed due date to March 25, 2020

[2020-04-19 19:59] Brend-Smits commented on #18
In GitLab by @RensNooren on Mar 26, 2020, 10:01

closed

[2020-04-19 19:59] #18 closed

[2020-04-19 19:59] Brend-Smits opened #19 "Usertesting Wireframe UX"
In GitLab by @RensNooren on Mar 9, 2020, 14:50

[2020-04-19 19:59] Brend-Smits commented on #19
In GitLab by @RensNooren on Mar 9, 2020, 15:17

changed title from **Usertest{- Wireframe functionaliteiten uitvoeren-}** to **Usertest{+ing Wireframe UX+}**

[2020-04-19 19:59] Brend-Smits commented on #19
In GitLab by @RensNooren on Mar 9, 2020, 15:17

changed the description

[2020-04-19 19:59] Brend-Smits commented on #19
In GitLab by @RensNooren on Mar 9, 2020, 18:55

changed due date to March 13, 2020

[2020-04-19 19:59] Brend-Smits commented on #19
In GitLab by @RensNooren on Mar 23, 2020, 12:05

assigned to @RensNooren

[2020-04-19 19:59] Brend-Smits commented on #19
In GitLab by @RensNooren on Mar 24, 2020, 12:12

changed due date to March 25, 2020

[2020-04-19 19:59] Brend-Smits commented on #19
In GitLab by @RensNooren on Mar 26, 2020, 10:01

closed

[2020-04-19 19:59] #19 closed

[2020-04-19 19:59] Brend-Smits opened #20 "Branding"
In GitLab by @Brend-Smits on Mar 9, 2020, 15:11

* Create first draft of user interface, #11 #12 #13 #14
* Setup branding/styling guide
* Define tone of voice #10 #15 #17
* Usertesting new designs #16 #18

[2020-04-19 19:59] Brend-Smits commented on #20
In GitLab by @RensNooren on Mar 9, 2020, 15:28

changed the description

[2020-04-19 20:00] Brend-Smits commented on #20
In GitLab by @RensNooren on Mar 9, 2020, 18:56

changed due date to March 27, 2020

[2020-04-19 20:00] Brend-Smits commented on #20
In GitLab by @RensNooren on Mar 30, 2020, 11:18

closed

[2020-04-19 20:00] #20 closed

[2020-04-19 20:00] Brend-Smits opened #21 "Design trend research #1"
In GitLab by @RensNooren on Mar 9, 2020, 15:29

Researching different trends for designs of branding / webdesign.

[2020-04-19 20:00] Brend-Smits commented on #21
In GitLab by @RensNooren on Mar 9, 2020, 15:30

changed title from **{-Trendwatching-} #1** to **{+Design trend research+} #1**

[2020-04-19 20:00] Brend-Smits commented on #21
In GitLab by @RensNooren on Mar 9, 2020, 15:30

changed the description

[2020-04-19 20:00] Brend-Smits commented on #21
In GitLab by @RensNooren on Mar 9, 2020, 15:30

assigned to @EHeijboer

[2020-04-19 20:00] Brend-Smits commented on #21
In GitLab by @EHeijboer on Mar 24, 2020, 13:07

closed

[2020-04-19 20:00] #21 closed

[2020-04-19 20:00] Brend-Smits opened #22 "Design trend research #2"
In GitLab by @RensNooren on Mar 9, 2020, 15:29

Researching different trends for designs of branding / webdesign.

[2020-04-19 20:00] Brend-Smits commented on #22
In GitLab by @RensNooren on Mar 9, 2020, 15:31

changed title from **{-Trendwatching-} #2** to **{+Design trend research+} #2**

[2020-04-19 20:00] Brend-Smits commented on #22
In GitLab by @RensNooren on Mar 9, 2020, 15:31

changed the description

[2020-04-19 20:00] Brend-Smits commented on #22
In GitLab by @RensNooren on Mar 9, 2020, 15:31

assigned to @rebeccazw

[2020-04-19 20:00] Brend-Smits commented on #22
In GitLab by @MaxKorlaar on Mar 23, 2020, 12:33

@rebeccazw als je het document linkt of hier invoegt dan zal ik deze bekijken

[2020-04-19 20:00] Brend-Smits commented on #22
In GitLab by @rebeccazw on Mar 23, 2020, 13:00

closed

[2020-04-19 20:00] #22 closed

[2020-04-19 20:00] Brend-Smits opened #23 "Creating Business Model Canvas #1"
In GitLab by @RensNooren on Mar 9, 2020, 15:32

[2020-04-19 20:00] Brend-Smits commented on #23
In GitLab by @RensNooren on Mar 9, 2020, 18:56

changed due date to March 27, 2020

[2020-04-19 20:00] Brend-Smits commented on #23
In GitLab by @RensNooren on Mar 23, 2020, 12:03

changed title from **Creating Business Model Canvas** to **Creating Business Model Canvas{+ #1+}**

[2020-04-19 20:00] Brend-Smits commented on #23
In GitLab by @RensNooren on Mar 23, 2020, 12:03

changed the description

[2020-04-19 20:01] Brend-Smits commented on #23
In GitLab by @RensNooren on Mar 23, 2020, 12:05

assigned to @EHeijboer

[2020-04-19 20:01] Brend-Smits commented on #23
In GitLab by @RensNooren on Mar 24, 2020, 13:06

closed

[2020-04-19 20:01] #23 closed

[2020-04-19 20:01] Brend-Smits opened #24 "Frontend Architecture"
In GitLab by @Brend-Smits on Mar 9, 2020, 23:10

* Define and implement a basic frontend architecture

Defining should be done by @I380477, implementation could be done by anyone else. Better to have a good architecture from scratch.

[2020-04-19 20:01] Brend-Smits commented on #24
In GitLab by @Brend-Smits on Mar 9, 2020, 23:11

changed the description

[2020-04-19 20:01] Brend-Smits commented on #24
In GitLab by @I380477 on Mar 16, 2020, 12:11

created merge request !2 to address this issue

[2020-04-19 20:01] Brend-Smits commented on #24
In GitLab by @I380477 on Mar 16, 2020, 12:11

mentioned in merge request !2

[2020-04-19 20:01] Brend-Smits commented on #24
In GitLab by @I380477 on Mar 16, 2020, 12:15

mentioned in merge request !3

[2020-04-19 20:01] Brend-Smits commented on #24
In GitLab by @I380477 on Mar 16, 2020, 16:28

closed

[2020-04-19 20:01] #24 closed

[2020-04-19 20:01] Brend-Smits opened #25 "Creating uniform UX & branding stylguide #1"
In GitLab by @RensNooren on Mar 16, 2020, 11:16

null

[2020-04-19 20:01] Brend-Smits commented on #25
In GitLab by @RensNooren on Mar 16, 2020, 11:16

assigned to @RensNooren

[2020-04-19 20:01] Brend-Smits commented on #25
In GitLab by @RensNooren on Mar 16, 2020, 11:18

changed due date to March 16, 2020

[2020-04-19 20:01] Brend-Smits commented on #25
In GitLab by @RensNooren on Mar 19, 2020, 11:45

closed

[2020-04-19 20:01] #25 closed

[2020-04-19 20:01] Brend-Smits opened #26 "Creating uniform UX & branding stylguide #2"
In GitLab by @RensNooren on Mar 16, 2020, 11:16

null

[2020-04-19 20:01] Brend-Smits commented on #26
In GitLab by @RensNooren on Mar 16, 2020, 11:17

assigned to @RensNooren

[2020-04-19 20:01] Brend-Smits commented on #26
In GitLab by @RensNooren on Mar 16, 2020, 11:17

assigned to @EHeijboer and unassigned @RensNooren

[2020-04-19 20:01] Brend-Smits commented on #26
In GitLab by @RensNooren on Mar 16, 2020, 11:18

changed due date to March 16, 2020

[2020-04-19 20:02] Brend-Smits commented on #26
In GitLab by @EHeijboer on Mar 17, 2020, 14:35

closed

[2020-04-19 20:02] #26 closed

[2020-04-19 20:02] Brend-Smits opened #27 "Creating uniform UX & branding stylguide #3"
In GitLab by @RensNooren on Mar 16, 2020, 11:28

null

[2020-04-19 20:02] Brend-Smits commented on #27
In GitLab by @RensNooren on Mar 16, 2020, 11:28

assigned to @rebeccazw

[2020-04-19 20:02] Brend-Smits commented on #27
In GitLab by @RensNooren on Mar 16, 2020, 11:28

changed due date to March 16, 2020

[2020-04-19 20:02] Brend-Smits commented on #27
In GitLab by @RensNooren on Mar 19, 2020, 11:45

closed

[2020-04-19 20:02] #27 closed

[2020-04-19 20:02] Brend-Smits opened #28 "CRUD Projects Development"
In GitLab by @Brend-Smits on Mar 16, 2020, 15:51

Based on the first wireframes found in the drive, create the functionality that allows for CRUD projects.

[2020-04-19 20:02] Brend-Smits commented on #28
In GitLab by @jcoenen96 on Mar 16, 2020, 15:58

assigned to @jcoenen96

[2020-04-19 20:02] Brend-Smits commented on #28
In GitLab by @jcoenen96 on Mar 16, 2020, 16:52

created branch [`feature/27-crud-projects-development`](/dex/dex-frontend/-/compare/develop...feature%2F27-crud-projects-development) to address this issue

[2020-04-19 20:02] Brend-Smits commented on #28
In GitLab by @jcoenen96 on Mar 23, 2020, 16:28

assigned to @RensNooren and unassigned @jcoenen96

[2020-04-19 20:02] Brend-Smits commented on #28
In GitLab by @jcoenen96 on Mar 23, 2020, 16:28

assigned to @jcoenen96 and unassigned @RensNooren

[2020-04-19 20:02] Brend-Smits commented on #28
In GitLab by @Brend-Smits on Mar 29, 2020, 19:34

mentioned in merge request !8

[2020-04-19 20:02] Brend-Smits commented on #28
In GitLab by @RensNooren on Mar 30, 2020, 11:18

closed

[2020-04-19 20:02] #28 closed

[2020-04-19 20:02] Brend-Smits opened #29 "Processing Usertest Results"
In GitLab by @RensNooren on Mar 23, 2020, 11:52

Processing all the results of the usertest:
https://docs.google.com/forms/d/1Q1puM2YWgcPSP8Msx-KFBSQvcuoIZmKXZsJVomP8k2g/edit#responses

In the following document we need to add our desired results (e.g. Choose branding based on user input) and add the processed results of the usertest with a conclusion.
https://docs.google.com/document/d/1xBtL-5Cem

[2020-04-19 20:02] Brend-Smits commented on #29
In GitLab by @RensNooren on Mar 23, 2020, 11:54

changed the description

[2020-04-19 20:02] Brend-Smits commented on #29
In GitLab by @RensNooren on Mar 24, 2020, 12:12

changed due date to March 26, 2020

[2020-04-19 20:02] Brend-Smits commented on #29
In GitLab by @RensNooren on Mar 24, 2020, 14:37

assigned to @rebeccazw

[2020-04-19 20:02] Brend-Smits commented on #29
In GitLab by @rebeccazw on Mar 25, 2020, 17:24

changed the description

[2020-04-19 20:03] Brend-Smits commented on #29
In GitLab by @Brend-Smits on Mar 26, 2020, 10:29

closed

[2020-04-19 20:03] #29 closed

[2020-04-19 20:03] Brend-Smits opened #30 "Creating Business Model Canvas #2"
In GitLab by @RensNooren on Mar 23, 2020, 12:02

null

[2020-04-19 20:03] Brend-Smits commented on #30
In GitLab by @RensNooren on Mar 23, 2020, 12:05

assigned to @RensNooren

[2020-04-19 20:03] Brend-Smits commented on #30
In GitLab by @RensNooren on Mar 24, 2020, 16:59

closed

[2020-04-19 20:03] #30 closed

[2020-04-19 20:03] Brend-Smits opened #31 "Git Wiki Frontend"
In GitLab by @RensNooren on Mar 23, 2020, 15:22

null

[2020-04-19 20:03] Brend-Smits commented on #31
In GitLab by @RensNooren on Mar 23, 2020, 15:22

assigned to @RensNooren

[2020-04-19 20:03] Brend-Smits commented on #31
In GitLab by @RensNooren on Mar 23, 2020, 15:22

assigned to @EHeijboer and unassigned @RensNooren

[2020-04-19 20:03] Brend-Smits commented on #31
In GitLab by @RensNooren on Mar 26, 2020, 10:36

assigned to @RensNooren and unassigned @EHeijboer

[2020-04-19 20:03] Brend-Smits commented on #31
In GitLab by @RensNooren on Mar 30, 2020, 11:18

closed

[2020-04-19 20:03] #31 closed

[2020-04-19 20:03] Brend-Smits opened #32 "Implementing Project Overview"
In GitLab by @RensNooren on Mar 24, 2020, 11:15

null

[2020-04-19 20:03] Brend-Smits commented on #32
In GitLab by @jcoenen96 on Mar 24, 2020, 11:27

assigned to @jcoenen96

[2020-04-19 20:03] Brend-Smits commented on #32
In GitLab by @Brend-Smits on Mar 29, 2020, 19:34

mentioned in merge request !8

[2020-04-19 20:03] Brend-Smits commented on #32
In GitLab by @RensNooren on Mar 30, 2020, 11:18

closed

[2020-04-19 20:03] #32 closed

[2020-04-19 20:03] Brend-Smits opened #33 "Implementing Project Details"
In GitLab by @RensNooren on Mar 24, 2020, 11:16

null

[2020-04-19 20:03] Brend-Smits commented on #33
In GitLab by @jcoenen96 on Mar 24, 2020, 11:33

created merge request !6 to address this issue

[2020-04-19 20:03] Brend-Smits commented on #33
In GitLab by @jcoenen96 on Mar 24, 2020, 11:33

mentioned in merge request !6

[2020-04-19 20:04] Brend-Smits commented on #33
In GitLab by @RensNooren on Mar 24, 2020, 13:05

assigned to @RensNooren

[2020-04-19 20:04] Brend-Smits commented on #33
In GitLab by @RensNooren on Mar 30, 2020, 11:18

closed

[2020-04-19 20:04] #33 closed

[2020-04-19 20:04] Brend-Smits opened #34 "Implementing New project selection"
In GitLab by @RensNooren on Mar 24, 2020, 11:16

null

[2020-04-19 20:04] Brend-Smits commented on #34
In GitLab by @jcoenen96 on Mar 24, 2020, 11:34

created branch [`33-implementing-new-project-selection`](/dex/dex-frontend/-/compare/develop...33-implementing-new-project-selection) to address this issue

[2020-04-19 20:04] Brend-Smits commented on #34
In GitLab by @EHeijboer on Mar 24, 2020, 13:05

assigned to @EHeijboer

[2020-04-19 20:04] Brend-Smits commented on #34
In GitLab by @RensNooren on Mar 30, 2020, 11:18

closed

[2020-04-19 20:04] #34 closed

[2020-04-19 20:04] Brend-Smits opened #35 "Implementing New project manual"
In GitLab by @RensNooren on Mar 24, 2020, 11:16

[2020-04-19 20:04] Brend-Smits commented on #35
In GitLab by @jcoenen96 on Mar 24, 2020, 11:34

created branch [`34-implementing-new-project-details`](/dex/dex-frontend/-/compare/develop...34-implementing-new-project-details) to address this issue

[2020-04-19 20:04] Brend-Smits commented on #35
In GitLab by @RensNooren on Mar 24, 2020, 13:04

changed title from **Implementing New project {-details-}** to **Implementing New project {+manual+}**

[2020-04-19 20:04] Brend-Smits commented on #35
In GitLab by @RensNooren on Mar 24, 2020, 13:04

changed the description

[2020-04-19 20:04] Brend-Smits commented on #35
In GitLab by @jcoenen96 on Mar 24, 2020, 14:09

assigned to @jcoenen96

[2020-04-19 20:04] Brend-Smits commented on #35
In GitLab by @Brend-Smits on Mar 29, 2020, 19:34

mentioned in merge request !8

[2020-04-19 20:04] Brend-Smits commented on #35
In GitLab by @RensNooren on Mar 30, 2020, 11:18

closed

[2020-04-19 20:04] #35 closed

[2020-04-19 20:04] Brend-Smits opened #36 "Plan of Action: UX Framework"
In GitLab by @RensNooren on Mar 24, 2020, 14:54

null

[2020-04-19 20:04] Brend-Smits commented on #36
In GitLab by @RensNooren on Mar 24, 2020, 14:54

assigned to @MaxKorlaar

[2020-04-19 20:04] Brend-Smits commented on #36
In GitLab by @MaxKorlaar on Mar 25, 2020, 12:41

https://docs.google.com/document/d/1Tp2mfv-ZKoEQWolKeNfC_N2X9NYvYD_x47R6GgFRe-M/edit?usp=sharing

[2020-04-19 20:04] Brend-Smits commented on #36
In GitLab by @MaxKorlaar on Mar 25, 2020, 12:42

changed due date to March 30, 2020

[2020-04-19 20:05] Brend-Smits commented on #36
In GitLab by @RensNooren on Mar 27, 2020, 16:36

closed

[2020-04-19 20:05] #36 closed

[2020-04-19 20:05] Brend-Smits opened #37 "First version of Styleguide"
In GitLab by @RensNooren on Mar 24, 2020, 16:10

Creating a first version of a complete styleguide based on the results of the form from Sprint 1. In this first version we will explain all style elements used within the branding of DeX.

Adding a margins and paddings section to styleguide

Pages:
- Our Logo
- Our Typeface
- Our Colours
- Illustrations
- Dex Rex (eventueel)
- Design guidelines (mar

[2020-04-19 20:05] Brend-Smits commented on #37
In GitLab by @RensNooren on Mar 24, 2020, 16:19

changed due date to April 01, 2020

[2020-04-19 20:05] Brend-Smits commented on #37
In GitLab by @RensNooren on Mar 24, 2020, 16:20

changed due date to March 31, 2020

[2020-04-19 20:05] Brend-Smits commented on #37
In GitLab by @RensNooren on Mar 24, 2020, 16:25

changed the description

[2020-04-19 20:05] Brend-Smits commented on #37
In GitLab by @RensNooren on Mar 30, 2020, 11:49

changed the description

[2020-04-19 20:05] Brend-Smits commented on #37
In GitLab by @RensNooren on Mar 31, 2020, 15:02

changed due date to April 01, 2020

[2020-04-19 20:05] Brend-Smits commented on #37
In GitLab by @RensNooren on Apr 2, 2020, 13:13

changed the description

[2020-04-19 20:05] Brend-Smits commented on #37
In GitLab by @RensNooren on Apr 3, 2020, 10:03

assigned to @RensNooren

[2020-04-19 20:05] Brend-Smits commented on #37
In GitLab by @RensNooren on Apr 3, 2020, 11:26

unassigned @RensNooren

[2020-04-19 20:05] Brend-Smits commented on #37
In GitLab by @RensNooren on Apr 3, 2020, 11:37

assigned to @rebeccazw

[2020-04-19 20:05] Brend-Smits opened #38 "Definitive version of Styleguide"
In GitLab by @RensNooren on Mar 24, 2020, 16:10

Finishing up the styleguide for DeX. After this definitive version we should only make adjustments if deemed absolutely necessary. Additions to the styleguide may be made in future sprints if need be.

[2020-04-19 20:05] Brend-Smits commented on #38
In GitLab by @RensNooren on Mar 24, 2020, 16:19

changed due date to April 17, 2020

[2020-04-19 20:05] Brend-Smits commented on #38
In GitLab by @RensNooren on Mar 24, 2020, 16:31

changed the description

[2020-04-19 20:05] Brend-Smits opened #39 "Redesign: Project overview"
In GitLab by @RensNooren on Mar 24, 2020, 16:11

In the redesign we also need to think about how the page would look if a visitor would search for projects. And how could we invite people to use the platform with an account.

[2020-04-19 20:05] Brend-Smits commented on #39
In GitLab by @RensNooren on Mar 24, 2020, 16:20

changed due date to April 03, 2020

[2020-04-19 20:05] Brend-Smits commented on #39
In GitLab by @RensNooren on Mar 24, 2020, 16:38

changed the description

[2020-04-19 20:05] Brend-Smits commented on #39
In GitLab by @RensNooren on Apr 9, 2020, 10:59

assigned to @RensNooren

[2020-04-19 20:05] Brend-Smits commented on #39
In GitLab by @Brend-Smits on Apr 17, 2020, 17:50

closed

[2020-04-19 20:06] #39 closed

[2020-04-19 20:06] Brend-Smits opened #40 "Redesign: Project details"
In GitLab by @RensNooren on Mar 24, 2020, 16:11

null

[2020-04-19 20:06] Brend-Smits commented on #40
In GitLab by @RensNooren on Mar 24, 2020, 16:20

changed due date to April 03, 2020

[2020-04-19 20:06] Brend-Smits commented on #40
In GitLab by @RensNooren on Apr 9, 2020, 10:59

assigned to @RensNooren

[2020-04-19 20:06] Brend-Smits commented on #40
In GitLab by @Brend-Smits on Apr 17, 2020, 17:50

closed

[2020-04-19 20:06] #40 closed

[2020-04-19 20:06] Brend-Smits opened #41 "Redesign: New project sources"
In GitLab by @RensNooren on Mar 24, 2020, 16:11

In the redesign we also need to look in to new possibilities to make a difference between "internal sources" and "external sources". Internal sources being gitfhict and kennisbank, and external sources being all the others platforms we would like to include in DeX e.g. Github, Bitbucket, etc.

[2020-04-19 20:06] Brend-Smits commented on #41
In GitLab by @RensNooren on Mar 24, 2020, 16:20

changed due date to April 03, 2020

[2020-04-19 20:06] Brend-Smits commented on #41
In GitLab by @RensNooren on Mar 24, 2020, 16:37

changed the description

[2020-04-19 20:06] Brend-Smits commented on #41
In GitLab by @RensNooren on Apr 9, 2020, 10:59

assigned to @RensNooren

[2020-04-19 20:06] Brend-Smits commented on #41
In GitLab by @Brend-Smits on Apr 17, 2020, 17:49

closed

[2020-04-19 20:06] #41 closed

[2020-04-19 20:06] Brend-Smits opened #42 "Redesign: New project details"
In GitLab by @RensNooren on Mar 24, 2020, 16:12

null

[2020-04-19 20:06] Brend-Smits commented on #42
In GitLab by @RensNooren on Mar 24, 2020, 16:20

changed due date to April 03, 2020

[2020-04-19 20:06] Brend-Smits commented on #42
In GitLab by @RensNooren on Apr 9, 2020, 10:59

assigned to @RensNooren

[2020-04-19 20:06] Brend-Smits commented on #42
In GitLab by @Brend-Smits on Apr 17, 2020, 17:49

closed

[2020-04-19 20:06] #42 closed

[2020-04-19 20:06] Brend-Smits opened #43 "Implementing redesign: Project overview"
In GitLab by @RensNooren on Mar 24, 2020, 16:13

null

[2020-04-19 20:06] Brend-Smits commented on #43
In GitLab by @RensNooren on Mar 24, 2020, 16:21

changed due date to April 10, 2020

[2020-04-19 20:06] Brend-Smits commented on #43
In GitLab by @RensNooren on Apr 9, 2020, 10:59

assigned to @RensNooren

[2020-04-19 20:07] Brend-Smits commented on #43
In GitLab by @RensNooren on Apr 14, 2020, 16:02

changed due date to April 15, 2020

[2020-04-19 20:07] Brend-Smits commented on #43
In GitLab by @RensNooren on Apr 17, 2020, 10:22

mentioned in merge request !16

[2020-04-19 20:07] Brend-Smits commented on #43
In GitLab by @Brend-Smits on Apr 17, 2020, 17:49

closed

[2020-04-19 20:07] #43 closed

[2020-04-19 20:07] Brend-Smits opened #44 "Implementing redesign: Project details"
In GitLab by @RensNooren on Mar 24, 2020, 16:13

null

[2020-04-19 20:07] Brend-Smits commented on #44
In GitLab by @RensNooren on Mar 24, 2020, 16:21

changed due date to April 10, 2020

[2020-04-19 20:07] Brend-Smits commented on #44
In GitLab by @MaxKorlaar on Apr 6, 2020, 11:49

assigned to @MaxKorlaar

[2020-04-19 20:07] Brend-Smits commented on #44
In GitLab by @MaxKorlaar on Apr 6, 2020, 12:05

unassigned @MaxKorlaar

[2020-04-19 20:07] Brend-Smits commented on #44
In GitLab by @MaxKorlaar on Apr 6, 2020, 12:07

assigned to @MaxKorlaar

[2020-04-19 20:07] Brend-Smits commented on #44
In GitLab by @MaxKorlaar on Apr 14, 2020, 11:41

changed due date to April 15, 2020

[2020-04-19 20:07] Brend-Smits commented on #44
In GitLab by @MaxKorlaar on Apr 17, 2020, 13:37

created merge request !18 to address this issue

[2020-04-19 20:07] Brend-Smits commented on #44
In GitLab by @MaxKorlaar on Apr 17, 2020, 13:37

mentioned in merge request !18

[2020-04-19 20:07] Brend-Smits commented on #44
In GitLab by @MaxKorlaar on Apr 17, 2020, 13:40

mentioned in merge request !19

[2020-04-19 20:07] Brend-Smits commented on #44
In GitLab by @Brend-Smits on Apr 17, 2020, 19:24

closed

[2020-04-19 20:07] #44 closed

[2020-04-19 20:07] Brend-Smits opened #45 "Implementing redesign: New project sources"
In GitLab by @RensNooren on Mar 24, 2020, 16:13

null

[2020-04-19 20:07] Brend-Smits commented on #45
In GitLab by @RensNooren on Mar 24, 2020, 16:21

changed due date to April 10, 2020

[2020-04-19 20:07] Brend-Smits commented on #45
In GitLab by @RensNooren on Apr 14, 2020, 16:02

changed due date to April 15, 2020

[2020-04-19 20:07] Brend-Smits commented on #45
In GitLab by @rebeccazw on Apr 16, 2020, 11:24

assigned to @rebeccazw

[2020-04-19 20:08] Brend-Smits commented on #45
In GitLab by @Brend-Smits on Apr 17, 2020, 17:49

closed

[2020-04-19 20:08] #45 closed

[2020-04-19 20:08] Brend-Smits opened #46 "Implementing redesign: new project manual"
In GitLab by @RensNooren on Mar 24, 2020, 16:13

[2020-04-19 20:08] Brend-Smits commented on #46
In GitLab by @RensNooren on Mar 24, 2020, 16:21

changed due date to April 10, 2020

[2020-04-19 20:08] Brend-Smits commented on #46
In GitLab by @RensNooren on Apr 14, 2020, 16:02

changed due date to April 15, 2020

[2020-04-19 20:08] Brend-Smits commented on #46
In GitLab by @RensNooren on Apr 16, 2020, 23:11

changed title from **Implementing redesign: {-New project details-}** to **Implementing redesign: {+new project manual+}**

[2020-04-19 20:08] Brend-Smits commented on #46
In GitLab by @RensNooren on Apr 16, 2020, 23:11

changed the description

[2020-04-19 20:08] Brend-Smits commented on #46
In GitLab by @RensNooren on Apr 17, 2020, 10:42

assigned to @RensNooren

[2020-04-19 20:08] Brend-Smits commented on #46
In GitLab by @Brend-Smits on Apr 17, 2020, 17:49

closed

[2020-04-19 20:08] #46 closed

[2020-04-19 20:08] Brend-Smits opened #47 "Clickable prototype in Adobe XD"
In GitLab by @RensNooren on Mar 24, 2020, 16:14

null

[2020-04-19 20:08] Brend-Smits commented on #47
In GitLab by @RensNooren on Mar 24, 2020, 16:20

changed due date to April 03, 2020

[2020-04-19 20:08] Brend-Smits commented on #47
In GitLab by @RensNooren on Apr 17, 2020, 11:27

closed

[2020-04-19 20:08] #47 closed

[2020-04-19 20:08] Brend-Smits opened #48 "Quality check: UX framework on redesigns"
In GitLab by @RensNooren on Mar 24, 2020, 16:15

Quality checking the redesigns with the use of the UX framework defined in Sprint 1

[2020-04-19 20:08] Brend-Smits commented on #48
In GitLab by @RensNooren on Mar 24, 2020, 16:20

changed due date to April 05, 2020

[2020-04-19 20:08] Brend-Smits commented on #48
In GitLab by @RensNooren on Mar 24, 2020, 16:29

changed the description

[2020-04-19 20:08] Brend-Smits commented on #48
In GitLab by @RensNooren on Mar 24, 2020, 21:42

assigned to @MaxKorlaar

[2020-04-19 20:08] Brend-Smits commented on #48
In GitLab by @MaxKorlaar on Apr 8, 2020, 11:19

changed due date to April 09, 2020

[2020-04-19 20:08] Brend-Smits commented on #48
In GitLab by @MaxKorlaar on Apr 8, 2020, 15:04

https://docs.google.com/document/d/1sLAYNaWoqu8fYiK-bWe9RcU44_3LvY3POzKOkjNPqmA/edit#

[2020-04-19 20:09] Brend-Smits opened #49 "User test: webflow and usability"
In GitLab by @RensNooren on Mar 24, 2020, 16:17

null

[2020-04-19 20:09] Brend-Smits commented on #49
In GitLab by @RensNooren on Mar 24, 2020, 16:21

changed due date to April 15, 2020

[2020-04-19 20:09] Brend-Smits opened #50 "Designing additional pages"
In GitLab by @RensNooren on Mar 24, 2020, 16:18

null

[2020-04-19 20:09] Brend-Smits commented on #50
In GitLab by @RensNooren on Mar 24, 2020, 16:22

changed due date to April 03, 2020

[2020-04-19 20:09] Brend-Smits commented on #50
In GitLab by @RensNooren on Apr 17, 2020, 11:27

closed

[2020-04-19 20:09] Brend-Smits commented on #50
In GitLab by @RensNooren on Apr 17, 2020, 11:27

assigned to @rebeccazw

[2020-04-19 20:09] #50 closed

[2020-04-19 20:09] Brend-Smits opened #51 "Flowchart: adding additional pages"
In GitLab by @RensNooren on Mar 24, 2020, 16:22

Creating a flowchart in which we explain the flow of the platform and all pages required in this process. Within this issue we also need to look into additional pages that need to be added to the design.

[2020-04-19 20:09] Brend-Smits commented on #51
In GitLab by @RensNooren on Mar 24, 2020, 16:22

changed due date to March 31, 2020

[2020-04-19 20:09] Brend-Smits commented on #51
In GitLab by @RensNooren on Mar 24, 2020, 16:27

changed the description

[2020-04-19 20:09] Brend-Smits commented on #51
In GitLab by @RensNooren on Mar 24, 2020, 16:28

changed the description

[2020-04-19 20:09] Brend-Smits opened #52 "Combining Interface designs based on feedback"
In GitLab by @RensNooren on Mar 26, 2020, 10:29

null

[2020-04-19 20:09] Brend-Smits commented on #52
In GitLab by @RensNooren on Mar 26, 2020, 11:27

assigned to @EHeijboer

[2020-04-19 20:09] Brend-Smits commented on #52
In GitLab by @RensNooren on Mar 26, 2020, 11:27

changed due date to March 29, 2020

[2020-04-19 20:09] Brend-Smits commented on #52
In GitLab by @RensNooren on Mar 30, 2020, 10:43

closed

[2020-04-19 20:09] #52 closed

[2020-04-19 20:09] Brend-Smits opened #53 "Combining Styleguides based on feedback"
In GitLab by @RensNooren on Mar 26, 2020, 10:29

null

[2020-04-19 20:09] Brend-Smits commented on #53
In GitLab by @RensNooren on Mar 26, 2020, 10:33

assigned to @EHeijboer

[2020-04-19 20:09] Brend-Smits commented on #53
In GitLab by @RensNooren on Mar 26, 2020, 11:26

assigned to @rebeccazw and unassigned @EHeijboer

[2020-04-19 20:09] Brend-Smits commented on #53
In GitLab by @RensNooren on Mar 26, 2020, 11:28

changed due date to March 29, 2020

[2020-04-19 20:10] Brend-Smits commented on #53
In GitLab by @RensNooren on Mar 30, 2020, 10:43

closed

[2020-04-19 20:10] #53 closed

[2020-04-19 20:10] Brend-Smits opened #54 "First version of Dex Rex"
In GitLab by @RensNooren on Mar 26, 2020, 11:27

null

[2020-04-19 20:10] Brend-Smits commented on #54
In GitLab by @RensNooren on Mar 26, 2020, 11:27

assigned to @EHeijboer

[2020-04-19 20:10] Brend-Smits commented on #54
In GitLab by @RensNooren on Mar 26, 2020, 11:27

changed due date to March 29, 2020

[2020-04-19 20:10] Brend-Smits commented on #54
In GitLab by @RensNooren on Mar 27, 2020, 16:36

closed

[2020-04-19 20:10] #54 closed

[2020-04-19 20:10] Brend-Smits opened #55 "Login page development"
In GitLab by @Brend-Smits on Mar 27, 2020, 15:16

We need a login page, how did we not think about this?

[2020-04-19 20:10] Brend-Smits commented on #55
In GitLab by @Brend-Smits on Mar 27, 2020, 17:20

mentioned in merge request dex-backend!12

[2020-04-19 20:10] Brend-Smits commented on #55
In GitLab by @I380477 on Apr 1, 2020, 11:47

assigned to @I380477

[2020-04-19 20:10] Brend-Smits commented on #55
In GitLab by @I380477 on Apr 5, 2020, 19:45

Is there a wireframe available for this issue? Since I'm unable to find one on the GDrive. Or should I free style this component?

[2020-04-19 20:10] Brend-Smits commented on #55
In GitLab by @Brend-Smits on Apr 17, 2020, 17:48

closed

[2020-04-19 20:10] #55 closed

[2020-04-19 20:10] Brend-Smits opened #56 "Presentation / Slides template"
In GitLab by @RensNooren on Mar 30, 2020, 11:55

null

[2020-04-19 20:10] Brend-Smits commented on #56
In GitLab by @RensNooren on Mar 30, 2020, 11:56

assigned to @RensNooren

[2020-04-19 20:10] Brend-Smits opened #57 "First version of Styleguide: Margins etc."
In GitLab by @RensNooren on Mar 30, 2020, 11:56

null

[2020-04-19 20:10] Brend-Smits commented on #57
In GitLab by @RensNooren on Mar 30, 2020, 11:56

assigned to @RensNooren

[2020-04-19 20:10] Brend-Smits opened #58 "First version of Flowchart"
In GitLab by @RensNooren on Mar 30, 2020, 11:57

null

[2020-04-19 20:10] Brend-Smits commented on #58
In GitLab by @RensNooren on Mar 30, 2020, 11:57

assigned to @RensNooren

[2020-04-19 20:11] Brend-Smits opened #59 "Solve issues with TS Lint in order to enforce coding guidelines"
In GitLab by @I380477 on Mar 30, 2020, 12:19

TS Lint so be configured in such a way that the coding style guides are enforced by the plugin

[2020-04-19 20:11] Brend-Smits commented on #59
In GitLab by @I380477 on Mar 30, 2020, 12:19

assigned to @I380477

[2020-04-19 20:11] Brend-Smits commented on #59
In GitLab by @I380477 on Mar 30, 2020, 12:20

changed the description

[2020-04-19 20:11] Brend-Smits commented on #59
In GitLab by @I380477 on Mar 30, 2020, 14:32

mentioned in merge request !9

[2020-04-19 20:11] Brend-Smits commented on #59
In GitLab by @I380477 on Apr 6, 2020, 13:32

closed

[2020-04-19 20:11] #59 closed

[2020-04-19 20:11] Brend-Smits opened #60 "Create a list of recommended/manatory plugins for Frontend development"
In GitLab by @I380477 on Mar 30, 2020, 14:28

null

[2020-04-19 20:11] Brend-Smits commented on #60
In GitLab by @I380477 on Mar 30, 2020, 14:43

closed

[2020-04-19 20:11] Brend-Smits commented on #60
In GitLab by @I380477 on Mar 30, 2020, 14:44

These changes have been published on the wiki https://git.fhict.nl/dex/dex-frontend/-/wikis/home#configure-visual-studio-code

[2020-04-19 20:11] #60 closed

[2020-04-19 20:11] Brend-Smits opened #61 "Logo design"
In GitLab by @RensNooren on Mar 31, 2020, 15:02

null

[2020-04-19 20:11] Brend-Smits commented on #61
In GitLab by @RensNooren on Mar 31, 2020, 15:02

assigned to @EHeijboer

[2020-04-19 20:11] Brend-Smits commented on #61
In GitLab by @Brend-Smits on Apr 17, 2020, 17:50

closed

[2020-04-19 20:11] #61 closed

[2020-04-19 20:11] Brend-Smits opened #62 "Add a changelog"
In GitLab by @Brend-Smits on Apr 1, 2020, 15:44

We need a changelog, add it.

[2020-04-19 20:11] Brend-Smits commented on #62
In GitLab by @Brend-Smits on Apr 1, 2020, 15:49

closed

[2020-04-19 20:11] #62 closed

[2020-04-19 20:11] Brend-Smits opened #63 "Design: login page"
In GitLab by @RensNooren on Apr 6, 2020, 11:41

null

[2020-04-19 20:11] Brend-Smits commented on #63
In GitLab by @rebeccazw on Apr 9, 2020, 10:22

assigned to @rebeccazw

[2020-04-19 20:11] Brend-Smits commented on #63
In GitLab by @rebeccazw on Apr 14, 2020, 11:21

closed

[2020-04-19 20:12] #63 closed

[2020-04-19 20:12] Brend-Smits opened #64 "Design: home page"
In GitLab by @RensNooren on Apr 6, 2020, 11:59

null

[2020-04-19 20:12] Brend-Smits commented on #64
In GitLab by @rebeccazw on Apr 9, 2020, 10:22

assigned to @rebeccazw

[2020-04-19 20:12] Brend-Smits commented on #64
In GitLab by @rebeccazw on Apr 14, 2020, 11:21

closed

[2020-04-19 20:12] #64 closed

[2020-04-19 20:12] Brend-Smits opened #65 "Implementing redesign: home page"
In GitLab by @RensNooren on Apr 9, 2020, 10:58

null

[2020-04-19 20:12] Brend-Smits commented on #65
In GitLab by @RensNooren on Apr 9, 2020, 10:59

assigned to @EHeijboer

[2020-04-19 20:12] Brend-Smits commented on #65
In GitLab by @EHeijboer on Apr 13, 2020, 11:39

mentioned in merge request !13

[2020-04-19 20:12] Brend-Smits commented on #65
In GitLab by @EHeijboer on Apr 14, 2020, 16:01

closed

[2020-04-19 20:12] #65 closed

[2020-04-19 20:12] Brend-Smits opened #66 "Implementing design: login page"
In GitLab by @RensNooren on Apr 9, 2020, 11:00

null

[2020-04-19 20:12] Brend-Smits commented on #66
In GitLab by @Brend-Smits on Apr 18, 2020, 20:03

mentioned in merge request !21

[2020-04-19 20:12] Brend-Smits opened #67 "Implementing design: menubar"
In GitLab by @RensNooren on Apr 12, 2020, 13:57

null

[2020-04-19 20:12] Brend-Smits commented on #67
In GitLab by @EHeijboer on Apr 14, 2020, 13:53

assigned to @EHeijboer

[2020-04-19 20:12] Brend-Smits commented on #67
In GitLab by @EHeijboer on Apr 16, 2020, 13:14

mentioned in merge request !15

[2020-04-19 20:12] Brend-Smits commented on #67
In GitLab by @Brend-Smits on Apr 17, 2020, 17:47

closed

[2020-04-19 20:12] #67 closed

[2020-04-19 20:12] Brend-Smits opened #68 "Implementing design: footer"
In GitLab by @RensNooren on Apr 12, 2020, 13:57

null

[2020-04-19 20:12] Brend-Smits commented on #68
In GitLab by @EHeijboer on Apr 16, 2020, 12:23

assigned to @EHeijboer

[2020-04-19 20:12] Brend-Smits opened #69 "Coding Guidelines"
In GitLab by @Brend-Smits on Apr 14, 2020, 14:15

Let's talk about coding guidelines :)

[2020-04-19 20:13] Brend-Smits commented on #69
In GitLab by @Brend-Smits on Apr 19, 2020, 14:59

mentioned in merge request !20

[2020-04-19 20:13] Brend-Smits opened #70 "Implementing TS: home page"
In GitLab by @RensNooren on Apr 14, 2020, 14:33

null

[2020-04-19 20:13] Brend-Smits commented on #70
In GitLab by @RensNooren on Apr 14, 2020, 14:33

assigned to @EHeijboer

[2020-04-19 20:13] Brend-Smits commented on #70
In GitLab by @EHeijboer on Apr 14, 2020, 16:01

unassigned @EHeijboer

[2020-04-19 20:13] Brend-Smits commented on #70
In GitLab by @Brend-Smits on Apr 17, 2020, 17:48

closed

[2020-04-19 20:13] #70 closed

[2020-04-19 20:13] Brend-Smits opened #71 "Angular: Configure SCSS to be default instead of CSS"
In GitLab by @Brend-Smits on Apr 15, 2020, 21:10

See title

[2020-04-19 20:13] Brend-Smits opened #72 "Working search functionality"
In GitLab by @Brend-Smits on Apr 18, 2020, 15:40

Wire up the search functionality with the backend so searching is possible

[2020-04-19 20:13] Brend-Smits commented on #72
In GitLab by @Brend-Smits on Apr 18, 2020, 15:40

changed due date to April 18, 2020

[2020-04-19 20:13] Brend-Smits commented on #72
In GitLab by @Brend-Smits on Apr 19, 2020, 11:08

removed due date

[2020-04-19 20:13] Brend-Smits opened #73 "Implement a "Modal" component"
In GitLab by @Brend-Smits on Apr 18, 2020, 19:50

I think it would be good to implement a re-usable modal component in the dex-frontend so that we can have uniform modals showing basic information or confirmation popups. This page can also be used to highlight projects as users only need to add some information like when they want the selected project to be highlighted (start and end date). Since

[2020-04-19 20:13] Brend-Smits opened #74 "Edit a project"
In GitLab by @Brend-Smits on Apr 18, 2020, 19:56

We need a button to edit a project on the project detail pages.
Editing the project will make the fields editable. A save button will be disabled until changes are detected.
Editing should only be possible if the user is the owner of the project.

[2020-04-19 20:13] Brend-Smits opened #75 "Highlight a project"
In GitLab by @Brend-Smits on Apr 18, 2020, 19:59

We need a button to highlight a project. Upon clicking on this button, a modal (see #72) should pop up, asking for information like: start date, end date. Both of these values are nullable so a button should be shown to allow for "Never ending" highlights. A simple checkbox will be sufficient, upon clicking the checkbox, the start and end date shou

[2020-04-19 20:13] Brend-Smits opened #76 "Alert implementation"
In GitLab by @Brend-Smits on Apr 19, 2020, 13:17

If something goes wrong, we do not want to just show the exception to the user. We want them to see a nice error page.

[2020-04-19 20:13] Brend-Smits opened #77 "Error handling & interception"
In GitLab by @Brend-Smits on Apr 19, 2020, 13:19

If the API gives an error for whatever reason, we need to intercept it and handle it properly.

[2020-04-19 20:13] Brend-Smits opened #78 "Refactor and cleanup frontend"
In GitLab by @Brend-Smits on Apr 19, 2020, 16:50

Refactor and cleanup frontend with the new coding guidelines.

[2020-04-19 20:13] Brend-Smits commented on #78
In GitLab by @Brend-Smits on Apr 19, 2020, 20:26

closed

[2020-04-19 20:13] #78 closed

[2020-04-19 20:14] Brend-Smits opened #79 "Implemented Architecture - [merged]"
In GitLab by @I380477 on Mar 16, 2020, 12:15

_Merges feature/architecture -> develop_

Fixed issue #23
Closes #23

[2020-04-19 20:14] Brend-Smits commented on #79
In GitLab by @I380477 on Mar 16, 2020, 12:18

changed target branch from `master` to `Development`

[2020-04-19 20:14] Brend-Smits commented on #79
In GitLab by @I380477 on Mar 16, 2020, 12:40

@MaxKorlaar This is the PR I mentioned during the previous meeting

[2020-04-19 20:14] Brend-Smits commented on #79
In GitLab by @I380477 on Mar 16, 2020, 13:35

unassigned @I380477

[2020-04-19 20:14] Brend-Smits commented on #79
In GitLab by @I380477 on Mar 16, 2020, 13:35

assigned to @Brend-Smits

[2020-04-19 20:14] Brend-Smits commented on #79
In GitLab by @I380477 on Mar 16, 2020, 13:35

assigned to @MaxKorlaar and unassigned @Brend-Smits

[2020-04-19 20:14] Brend-Smits commented on #79
In GitLab by @I380477 on Mar 16, 2020, 13:35

assigned to @Brend-Smits and unassigned @MaxKorlaar

[2020-04-19 20:14] Brend-Smits commented on #79
In GitLab by @MaxKorlaar on Mar 16, 2020, 15:06

assigned to @MaxKorlaar and unassigned @Brend-Smits

[2020-04-19 20:14] Brend-Smits commented on #79
In GitLab by @MaxKorlaar on Mar 16, 2020, 15:06

assigned to @Brend-Smits and unassigned @MaxKorlaar

[2020-04-19 20:14] Brend-Smits commented on #79
In GitLab by @MaxKorlaar on Mar 16, 2020, 15:10

Ziet er goed uit. Welke IDE/editor gebruik je? Er is al een .editorconfig aanwezig, maar het kan misschien handig zijn in het geval van PHPStorm/WebStorm van IntelliJ om de codestyle ook op git te delen.

Je kan ook git hooks gebruiken. Misschien iets om later naar te kijken.

[2020-04-19 20:14] Brend-Smits commented on #79
In GitLab by @Brend-Smits on Mar 16, 2020, 15:16

changed target branch from `Development` to `develop`

[2020-04-19 20:14] Brend-Smits commented on #79
In GitLab by @Brend-Smits on Mar 16, 2020, 15:16

changed the description

[2020-04-19 20:14] Brend-Smits commented on #79
In GitLab by @Brend-Smits on Mar 16, 2020, 15:22

Looks okay by me, if @MaxKorlaar finds it ok, this can be merged.

[2020-04-19 20:14] Brend-Smits commented on #79
In GitLab by @RensvdLinden on Mar 16, 2020, 15:31

merged

[2020-04-19 20:14] Brend-Smits commented on #79
In GitLab by @RensvdLinden on Mar 16, 2020, 15:31

mentioned in commit a56d3976b42b91310d87881036755294ab543365

[2020-04-19 20:14] #79 closed

[2020-04-19 20:14] Brend-Smits opened #80 "Implement frontend pages - [merged]"
In GitLab by @jcoenen96 on Mar 29, 2020, 19:10

_Merges 32-implementing-project-details -> develop_

Frontend according to the wireframes with backend calls.
Some more commentary and error checking is necessary but not required for the demo already
Closes #27 #31 #34

[2020-04-19 20:14] #71 closed

[2020-04-19 20:15] Brend-Smits commented on #80
In GitLab by @Brend-Smits on Mar 29, 2020, 19:34

changed the description

[2020-04-19 20:15] Brend-Smits commented on #80
In GitLab by @I380477 on Mar 30, 2020, 12:00

Bootstrap should no longer be used within the project since it clashes with Clarity UI

[2020-04-19 20:15] Brend-Smits commented on #80
In GitLab by @I380477 on Mar 30, 2020, 12:02

This component should be removed if it is not used anymore

[2020-04-19 20:15] Brend-Smits commented on #80
In GitLab by @I380477 on Mar 30, 2020, 12:05

My bad, this should be collarborator?.fullName, in order to avoid null references

[2020-04-19 20:15] Brend-Smits commented on #80
In GitLab by @I380477 on Mar 30, 2020, 12:05

Maybe we should add a remark here that this line is to force the Clarity UI Inputs to be max width

[2020-04-19 20:15] Brend-Smits commented on #80
In GitLab by @I380477 on Mar 30, 2020, 12:06

It seems the service call is implemented underneath, meaning that this line of documentation is unnecessary

[2020-04-19 20:15] Brend-Smits commented on #80
In GitLab by @I380477 on Mar 30, 2020, 12:06

Results can be removed since it is not used

[2020-04-19 20:15] Brend-Smits commented on #80
In GitLab by @I380477 on Mar 30, 2020, 12:07

Should use ? syntax as mentioned before in order to avoid null references

[2020-04-19 20:15] Brend-Smits commented on #80
In GitLab by @I380477 on Mar 30, 2020, 12:07

Please use the following syntax
`routerLink="project/add/manual"`

[2020-04-19 20:15] Brend-Smits commented on #80
In GitLab by @I380477 on Mar 30, 2020, 12:09

Shouldn't these styles be applied globally? If so please move them to the styles.scss

[2020-04-19 20:15] Brend-Smits commented on #80
In GitLab by @I380477 on Mar 30, 2020, 12:10

File is not formatted properly. Normally there is a space between class/id name and the bracket. This comment applies to the other scss files too.

[2020-04-19 20:15] Brend-Smits commented on #80
In GitLab by @I380477 on Mar 30, 2020, 12:10

Documentation is missing for this component

[2020-04-19 20:15] Brend-Smits commented on #80
In GitLab by @I380477 on Mar 30, 2020, 12:11

Documentation is missing for this component

[2020-04-19 20:15] Brend-Smits commented on #80
In GitLab by @I380477 on Mar 30, 2020, 12:12

Replace this console.log with a `// Todo:` comment.

[2020-04-19 20:15] Brend-Smits commented on #80
In GitLab by @I380477 on Mar 30, 2020, 12:14

An other console log which should be removed

[2020-04-19 20:15] Brend-Smits commented on #80
In GitLab by @I380477 on Mar 30, 2020, 12:15

I think this boolean could use a more clear name, for example: projectsLoading

[2020-04-19 20:15] Brend-Smits commented on #80
In GitLab by @I380477 on Mar 30, 2020, 12:18

Component is missing documentation

[2020-04-19 20:15] Brend-Smits commented on #80
In GitLab by @jcoenen96 on Apr 10, 2020, 10:07

ERROR in ./src/polyfills.ts
Module not found: Error: Can't resolve '@angular/localize/init' in 'C:\Projects\Delta\dex\dex-frontend\src'

Can't find out why it want to use localize. Could you take a look at this @I380477 ?

[2020-04-19 20:15] Brend-Smits commented on #80
In GitLab by @jcoenen96 on Apr 10, 2020, 10:08

changed this line in [version 2 of the diff](/dex/dex-frontend/-/merge_requests/8/diffs?diff_id=20680&start_sha=84d0f971391048277ddd3d016fa9442d31b77a18#7030d0b2f71b999ff89a343de08c414af32fc93a_28_27)

[2020-04-19 20:15] Brend-Smits commented on #80
In GitLab by @jcoenen96 on Apr 10, 2020, 10:08

changed this line in [version 2 of the diff](/dex/dex-frontend/-/merge_requests/8/diffs?diff_id=20680&start_sha=84d0f971391048277ddd3d016fa9442d31b77a18#c63d579ecc7ef212213091edb8b169c2cfc1bc7c_1_0)

[2020-04-19 20:16] Brend-Smits commented on #80
In GitLab by @jcoenen96 on Apr 10, 2020, 10:08

changed this line in [version 2 of the diff](/dex/dex-frontend/-/merge_requests/8/diffs?diff_id=20680&start_sha=84d0f971391048277ddd3d016fa9442d31b77a18#956b82cc6726eb3de4408b59ef3037a51e56a759_93_93)

[2020-04-19 20:16] Brend-Smits commented on #80
In GitLab by @jcoenen96 on Apr 10, 2020, 10:08

changed this line in [version 2 of the diff](/dex/dex-frontend/-/merge_requests/8/diffs?diff_id=20680&start_sha=84d0f971391048277ddd3d016fa9442d31b77a18#77950599a6dfbb5c9b8bfb7a83272a20205a2a9a_67_67)

[2020-04-19 20:16] Brend-Smits commented on #80
In GitLab by @jcoenen96 on Apr 10, 2020, 10:08

changed this line in [version 2 of the diff](/dex/dex-frontend/-/merge_requests/8/diffs?diff_id=20680&start_sha=84d0f971391048277ddd3d016fa9442d31b77a18#ba33925c5c15f796fdb922ddf0e792b880c228e3_17_16)

[2020-04-19 20:16] Brend-Smits commented on #80
In GitLab by @jcoenen96 on Apr 10, 2020, 10:08

changed this line in [version 2 of the diff](/dex/dex-frontend/-/merge_requests/8/diffs?diff_id=20680&start_sha=84d0f971391048277ddd3d016fa9442d31b77a18#ba33925c5c15f796fdb922ddf0e792b880c228e3_36_36)

[2020-04-19 20:16] Brend-Smits commented on #80
In GitLab by @jcoenen96 on Apr 10, 2020, 10:08

changed this line in [version 2 of the diff](/dex/dex-frontend/-/merge_requests/8/diffs?diff_id=20680&start_sha=84d0f971391048277ddd3d016fa9442d31b77a18#63409d2200ac84fa0dbb322f51955d2ed9ea39ac_1_1)

[2020-04-19 20:16] Brend-Smits commented on #80
In GitLab by @jcoenen96 on Apr 10, 2020, 10:08

changed this line in [version 2 of the diff](/dex/dex-frontend/-/merge_requests/8/diffs?diff_id=20680&start_sha=84d0f971391048277ddd3d016fa9442d31b77a18#14365e62dfef9c994d41ea89e05b4ffd23c6fa2e_36_41)

[2020-04-19 20:16] Brend-Smits commented on #80
In GitLab by @jcoenen96 on Apr 10, 2020, 10:08

changed this line in [version 2 of the diff](/dex/dex-frontend/-/merge_requests/8/diffs?diff_id=20680&start_sha=84d0f971391048277ddd3d016fa9442d31b77a18#14365e62dfef9c994d41ea89e05b4ffd23c6fa2e_33_39)

[2020-04-19 20:16] Brend-Smits commented on #80
In GitLab by @jcoenen96 on Apr 10, 2020, 10:08

changed this line in [version 2 of the diff](/dex/dex-frontend/-/merge_requests/8/diffs?diff_id=20680&start_sha=84d0f971391048277ddd3d016fa9442d31b77a18#fc64843fd1df48bf6be887912cd7637e3f8ddfb1_25_28)

[2020-04-19 20:16] Brend-Smits commented on #80
In GitLab by @jcoenen96 on Apr 10, 2020, 10:08

added 2 commits

<ul><li>bbe16f1e - Added extra environment for staging</li><li>b8ec6174 - Removed navigation component, added documentation, removed console.logs,...</li></ul>

[Compare with previous version](/dex/dex-frontend/-/merge_requests/8/diffs?diff_id=20680&start_sha=84d0f971391048277ddd3d016fa9442d31b77a18)

[2020-04-19 20:16] Brend-Smits commented on #80
In GitLab by @I380477 on Apr 10, 2020, 11:55

Dit mag gewoon [null] worden, zo ver ik weet is de validator compleet optional en hoeft dus niet gedefined te worden.

[2020-04-19 20:16] Brend-Smits commented on #80
In GitLab by @I380477 on Apr 10, 2020, 11:56

Laten we hier het zelfde aanhouden als op werk, dus de knop is altijd beschikbaar. Maar indien het form niet valid is doe je formGroup.markAllAsTouched() en break je de rest van het click event af

[2020-04-19 20:16] Brend-Smits commented on #80
In GitLab by @I380477 on Apr 10, 2020, 11:58

Willen we dit niet in de global styles.scss definen ipv op component niveau? Comment geldt voor alle components waar h1,h2,h3's worden gestyled

[2020-04-19 20:16] Brend-Smits commented on #80
In GitLab by @I380477 on Apr 10, 2020, 12:02

Me neither, you can remove the reference to the package

[2020-04-19 20:16] Brend-Smits commented on #80
In GitLab by @jcoenen96 on Apr 10, 2020, 12:04

I already did and now I get that error

[2020-04-19 20:16] Brend-Smits commented on #80
In GitLab by @jcoenen96 on Apr 11, 2020, 13:18

I did remove the whole node_modules folder and did npm install again and got the same error @I380477

[2020-04-19 20:16] Brend-Smits commented on #80
In GitLab by @jcoenen96 on Apr 11, 2020, 13:20

added 1 commit

<ul><li>edf0f753 - Added @angular/localize</li></ul>

[Compare with previous version](/dex/dex-frontend/-/merge_requests/8/diffs?diff_id=20723&start_sha=b8ec617486453b071924283dd383727308222e07)

[2020-04-19 20:16] Brend-Smits commented on #80
In GitLab by @jcoenen96 on Apr 11, 2020, 13:20

Added angular/localize and now it is working fine

[2020-04-19 20:16] Brend-Smits commented on #80
In GitLab by @jcoenen96 on Apr 11, 2020, 13:24

@EHeijboer

[2020-04-19 20:16] Brend-Smits commented on #80
In GitLab by @jcoenen96 on Apr 11, 2020, 13:26

changed this line in [version 4 of the diff](/dex/dex-frontend/-/merge_requests/8/diffs?diff_id=20724&start_sha=edf0f753e584694176d022c90ecaec720514ab0c#77950599a6dfbb5c9b8bfb7a83272a20205a2a9a_45_45)

[2020-04-19 20:16] Brend-Smits commented on #80
In GitLab by @jcoenen96 on Apr 11, 2020, 13:26

changed this line in [version 4 of the diff](/dex/dex-frontend/-/merge_requests/8/diffs?diff_id=20724&start_sha=edf0f753e584694176d022c90ecaec720514ab0c#956b82cc6726eb3de4408b59ef3037a51e56a759_105_100)

[2020-04-19 20:17] Brend-Smits commented on #80
In GitLab by @jcoenen96 on Apr 11, 2020, 13:26

added 1 commit

<ul><li>04828a46 - Removed null validator and return errors if form is invalid</li></ul>

[Compare with previous version](/dex/dex-frontend/-/merge_requests/8/diffs?diff_id=20724&start_sha=edf0f753e584694176d022c90ecaec720514ab0c)

[2020-04-19 20:17] Brend-Smits commented on #80
In GitLab by @EHeijboer on Apr 11, 2020, 15:03

Alle text en button stylings mogen in de global styles. Komen hier ook variabelen bij voor bijvoorbeeld kleuren? Die kunnen rens of ik eventueel ook wel maken.

[2020-04-19 20:17] Brend-Smits commented on #80
In GitLab by @jcoenen96 on Apr 11, 2020, 17:12

added 9 commits

<ul><li>04828a46...16f9b88d - 8 commits from branch <code>develop</code></li><li>ab11e0c0 - Merge branch &#39;32-implementing-project-details&#39; into develop</li></ul>

[Compare with previous version](/dex/dex-frontend/-/merge_requests/8/diffs?diff_id=20749&start_sha=04828a464025a3a2407d36d775b12f44e31348f6)

[2020-04-19 20:17] Brend-Smits commented on #80
In GitLab by @jcoenen96 on Apr 11, 2020, 17:24

changed this line in [version 6 of the diff](/dex/dex-frontend/-/merge_requests/8/diffs?diff_id=20751&start_sha=ab11e0c099770208e0b9e298ef415db2945b1f2e#63409d2200ac84fa0dbb322f51955d2ed9ea39ac_81_54)

[2020-04-19 20:17] Brend-Smits commented on #80
In GitLab by @jcoenen96 on Apr 11, 2020, 17:24

changed this line in [version 6 of the diff](/dex/dex-frontend/-/merge_requests/8/diffs?diff_id=20751&start_sha=ab11e0c099770208e0b9e298ef415db2945b1f2e#63409d2200ac84fa0dbb322f51955d2ed9ea39ac_59_54)

[2020-04-19 20:17] Brend-Smits commented on #80
In GitLab by @jcoenen96 on Apr 11, 2020, 17:24

added 1 commit

<ul><li>efa2d77d - Moved css</li></ul>

[Compare with previous version](/dex/dex-frontend/-/merge_requests/8/diffs?diff_id=20751&start_sha=ab11e0c099770208e0b9e298ef415db2945b1f2e)

[2020-04-19 20:17] Brend-Smits commented on #80
In GitLab by @jcoenen96 on Apr 11, 2020, 17:25

resolved all threads

[2020-04-19 20:17] Brend-Smits commented on #80
In GitLab by @jcoenen96 on Apr 11, 2020, 17:25

merged

[2020-04-19 20:17] Brend-Smits commented on #80
In GitLab by @jcoenen96 on Apr 11, 2020, 17:25

mentioned in commit 89cc0a03d617e62ab810cf2f7fe43e3d7eb70415

[2020-04-19 20:17] #80 closed

[2020-04-19 20:17] Brend-Smits opened #81 "Solved issues with TS Lint - [merged]"
In GitLab by @I380477 on Mar 30, 2020, 14:32

_Merges feature/58-solve-issues-with-tslint -> develop_

Closes #58

[2020-04-19 20:17] Brend-Smits commented on #81
In GitLab by @I380477 on Apr 1, 2020, 11:43

assigned to @Brend-Smits and unassigned @jcoenen96

[2020-04-19 20:17] Brend-Smits commented on #81
In GitLab by @jcoenen96 on Apr 1, 2020, 11:45

Isn't it easier to .gitignore the package-lock.json? since it is generated when people run npm install

[2020-04-19 20:17] Brend-Smits commented on #81
In GitLab by @I380477 on Apr 5, 2020, 19:05

See the following post which explains why the package-lock should be committed to the repo: https://stackoverflow.com/a/44210813/7644553

[2020-04-19 20:17] Brend-Smits commented on #81
In GitLab by @I380477 on Apr 5, 2020, 19:05

resolved all threads

[2020-04-19 20:17] Brend-Smits commented on #81
In GitLab by @Brend-Smits on Apr 5, 2020, 19:45

merged

[2020-04-19 20:17] Brend-Smits commented on #81
In GitLab by @Brend-Smits on Apr 5, 2020, 19:45

mentioned in commit 675a115cc9bdbf3c2aab84f1875648a4d31e48d9

[2020-04-19 20:17] #81 closed

[2020-04-19 20:17] Brend-Smits opened #82 "Changelog - [merged]"
In GitLab by @Brend-Smits on Apr 1, 2020, 15:46

_Merges feature/61-changelog -> develop_

Added changelog

[2020-04-19 20:18] Brend-Smits commented on #82
In GitLab by @Brend-Smits on Apr 1, 2020, 15:46

merged

[2020-04-19 20:18] Brend-Smits commented on #82
In GitLab by @Brend-Smits on Apr 1, 2020, 15:46

mentioned in commit dcee4af99e66e5dbd431ea0ec129e97d394502d4

[2020-04-19 20:18] #82 closed

[2020-04-19 20:18] Brend-Smits opened #83 "Removed environment.prod.ts the file is new generated autmatically - [merged]"
In GitLab by @jcoenen96 on Apr 11, 2020, 14:55

_Merges feature/remove-secrets -> develop_

Removed environment.prod.ts the file is new generated autmatically. Added script to generate enviroment.prod.ts with data from environment variables.

[2020-04-19 20:18] Brend-Smits commented on #83
In GitLab by @jcoenen96 on Apr 11, 2020, 14:59

assigned to @RensvdLinden and unassigned @jcoenen96

[2020-04-19 20:18] Brend-Smits commented on #83
In GitLab by @RensvdLinden on Apr 11, 2020, 15:03

merged

[2020-04-19 20:18] Brend-Smits commented on #83
In GitLab by @RensvdLinden on Apr 11, 2020, 15:03

mentioned in commit 16f9b88d918dcaae4e5e8bc17d08ed363646e824

[2020-04-19 20:18] #83 closed

[2020-04-19 20:18] Brend-Smits opened #84 "GNU Lesser General Public License v3.0 - [merged]"
In GitLab by @Brend-Smits on Apr 11, 2020, 16:43

_Merges feature/add-license -> develop_

Added GNU Lesser General Public License v3.0

[2020-04-19 20:18] Brend-Smits commented on #84
In GitLab by @Brend-Smits on Apr 11, 2020, 17:35

added 34 commits

<ul><li>052a7f78...89cc0a03 - 32 commits from branch <code>develop</code></li><li>8ad9af51 - Merge branch &#39;develop&#39; into feature/add-license</li><li>89acef2b - </li></ul>

[Compare with previous version](/dex/dex-frontend/-/merge_requests/12/diffs?diff_id=20752&start_sha=052a7f787b433605f392c28c3cf13830286a61e2)

[2020-04-19 20:18] Brend-Smits commented on #84
In GitLab by @Brend-Smits on Apr 13, 2020, 11:02

merged

[2020-04-19 20:18] Brend-Smits commented on #84
In GitLab by @Brend-Smits on Apr 13, 2020, 11:02

mentioned in commit f51f5a74353cf57e24b7345e2a992a7a5cf649bc

[2020-04-19 20:18] #84 closed

[2020-04-19 20:18] Brend-Smits opened #85 "Resolve "Implementing redesign: home page" - [merged]"
In GitLab by @EHeijboer on Apr 13, 2020, 11:39

_Merges 64-Implementing-redesign-homepage -> develop_

Closes #64

[2020-04-19 20:18] Brend-Smits commented on #85
In GitLab by @MaxKorlaar on Apr 13, 2020, 13:09

Mij lijkt het dat 'home' (`<home></home>`) ook prima volstaat als tag name. Ik gok dat je dit baseert op 'app-root' namelijk.

[2020-04-19 20:18] Brend-Smits commented on #85
In GitLab by @MaxKorlaar on Apr 13, 2020, 13:10

Wat kleine dingetjes met spacing en opmaak van code, verder prima. Binnenkort komt via mijn branch er wat zooi in voor PHPStorm om dat te fixen, voor andere IDEs kunnen we nog kijken of we met git hooks automatisch styling gelijk kunnen trekken.

[2020-04-19 20:18] Brend-Smits commented on #85
In GitLab by @EHeijboer on Apr 14, 2020, 11:35

changed this line in [version 2 of the diff](/dex/dex-frontend/-/merge_requests/13/diffs?diff_id=20862&start_sha=2fb7a3927aa0f53b2b4688f6dffa68a765c20de8#34b253fc3dbd2fd1262df9408d5de41e15c8e20f_4_4)

[2020-04-19 20:18] Brend-Smits commented on #85
In GitLab by @EHeijboer on Apr 14, 2020, 11:35

added 1 commit

<ul><li>82d11f27 - </li></ul>

[Compare with previous version](/dex/dex-frontend/-/merge_requests/13/diffs?diff_id=20862&start_sha=2fb7a3927aa0f53b2b4688f6dffa68a765c20de8)

[2020-04-19 20:18] Brend-Smits commented on #85
In GitLab by @EHeijboer on Apr 14, 2020, 11:35

added 5 commits

<ul><li>82d11f27...f51f5a74 - 4 commits from branch <code>develop</code></li><li>ec7a752f - Merge branch &#39;develop&#39; into &#39;64-Implementing-redesign-homepage&#39;</li></ul>

[Compare with previous version](/dex/dex-frontend/-/merge_requests/13/diffs?diff_id=20863&start_sha=82d11f2787d0a14bf835b5ac2da36b1807c81877)

[2020-04-19 20:18] Brend-Smits commented on #85
In GitLab by @MaxKorlaar on Apr 14, 2020, 11:40

@jcoenen96 Dit is niet nodig per se, of wel?

[2020-04-19 20:19] Brend-Smits commented on #85
In GitLab by @jcoenen96 on Apr 14, 2020, 11:43

[code]

should be

[code]

[2020-04-19 20:19] Brend-Smits commented on #85
In GitLab by @EHeijboer on Apr 14, 2020, 13:30

added 2 commits

<ul><li>52ac3085 - </li><li>2139bef8 - Merge remote-tracking branch &#39;origin/64-Implementing-redesign-homepage&#39; into...</li></ul>

[Compare with previous version](/dex/dex-frontend/-/merge_requests/13/diffs?diff_id=20874&start_sha=ec7a752feba5883a18bbbe69b6e2320641533c68)

[2020-04-19 20:19] Brend-Smits commented on #85
In GitLab by @jcoenen96 on Apr 14, 2020, 13:53

by prefixing the components with app you know it is a custom component instead of a component provided by angular

[2020-04-19 20:19] Brend-Smits commented on #85
In GitLab by @jcoenen96 on Apr 14, 2020, 13:54

this is necessary because it is a component and not a module

[2020-04-19 20:19] Brend-Smits commented on #85
In GitLab by @jcoenen96 on Apr 14, 2020, 13:54

resolved all threads

[2020-04-19 20:19] Brend-Smits commented on #85
In GitLab by @MaxKorlaar on Apr 14, 2020, 13:55

resolved all threads

[2020-04-19 20:19] Brend-Smits commented on #85
In GitLab by @jcoenen96 on Apr 14, 2020, 13:57

please put an empty line between the elements

[2020-04-19 20:19] Brend-Smits commented on #85
In GitLab by @jcoenen96 on Apr 14, 2020, 14:06

I fixed it for better readability, please keep this in mind for the next commits

[2020-04-19 20:19] Brend-Smits commented on #85
In GitLab by @jcoenen96 on Apr 14, 2020, 14:06

resolved all threads

[2020-04-19 20:19] Brend-Smits commented on #85
In GitLab by @jcoenen96 on Apr 14, 2020, 14:07

added 1 commit

<ul><li>ba26cf92 - Fixed syntax for better readability</li></ul>

[Compare with previous version](/dex/dex-frontend/-/merge_requests/13/diffs?diff_id=20877&start_sha=2139bef8244159fb728a364d31399c84e6cf1ac1)

[2020-04-19 20:19] Brend-Smits commented on #85
In GitLab by @jcoenen96 on Apr 14, 2020, 14:14

merged

[2020-04-19 20:19] Brend-Smits commented on #85
In GitLab by @jcoenen96 on Apr 14, 2020, 14:14

mentioned in commit 09ded90fafa1edac2de93be4d99bc1b826ca23bc

[2020-04-19 20:19] #85 closed

[2020-04-19 20:19] Brend-Smits opened #86 "Added global styling and variables. Fixed stylesheet order. - [merged]"
In GitLab by @RensNooren on Apr 16, 2020, 11:11

_Merges feature/globalstyling -> develop_

[2020-04-19 20:19] Brend-Smits commented on #86
In GitLab by @Brend-Smits on Apr 16, 2020, 11:12

merged

[2020-04-19 20:19] Brend-Smits commented on #86
In GitLab by @Brend-Smits on Apr 16, 2020, 11:12

mentioned in commit 528a37d2d26c90a4524d0701dfdfd1e1332568fd

[2020-04-19 20:19] #86 closed

[2020-04-19 20:19] Brend-Smits opened #87 "66-implementing-design-menubar html and scss Styling menubar - [merged]"
In GitLab by @EHeijboer on Apr 16, 2020, 13:14

_Merges 66-implementing-design-menubar -> develop_

html and scss Styling menubar

Closes #66

[2020-04-19 20:19] Brend-Smits commented on #87
In GitLab by @Brend-Smits on Apr 17, 2020, 17:43

merged

[2020-04-19 20:19] Brend-Smits commented on #87
In GitLab by @Brend-Smits on Apr 17, 2020, 17:43

mentioned in commit d68d269c6c984701b08c49340321c9b1149af379

[2020-04-19 20:20] #87 closed

[2020-04-19 20:20] Brend-Smits opened #88 "Resolve "Implementing redesign: Project overview" - [merged]"
In GitLab by @RensNooren on Apr 17, 2020, 10:22

_Merges 42-implementing-redesign-project-overview -> develop_

Closes #42
Implemented designs of overview page and added a new variable

[2020-04-19 20:20] Brend-Smits commented on #88
In GitLab by @RensNooren on Apr 17, 2020, 17:36

added 17 commits

<ul><li>b5b6a248...a6ca29ca - 16 commits from branch <code>develop</code></li><li>ed11c177 - Merge branch &#39;develop&#39; into &#39;42-implementing-redesign-project-overview&#39;</li></ul>

[Compare with previous version](/dex/dex-frontend/-/merge_requests/16/diffs?diff_id=21333&start_sha=b5b6a248c51026e7d43d02c501dddb963873d305)

[2020-04-19 20:20] Brend-Smits commented on #88
In GitLab by @Brend-Smits on Apr 17, 2020, 17:39

merged

[2020-04-19 20:20] Brend-Smits commented on #88
In GitLab by @Brend-Smits on Apr 17, 2020, 17:39

mentioned in commit 6b14ab1aa99746d8dd792cc7e9adff9c0b517cee

[2020-04-19 20:20] #88 closed

[2020-04-19 20:20] Brend-Smits opened #89 "Implementing redesign sources page - [merged]"
In GitLab by @rebeccazw on Apr 17, 2020, 11:13

_Merges feature/44-redesign-sources -> develop_

Implemented the new design on the source page. Also, the page is now responsive.

[2020-04-19 20:20] Brend-Smits commented on #89
In GitLab by @Brend-Smits on Apr 17, 2020, 17:23

merged

[2020-04-19 20:20] Brend-Smits commented on #89
In GitLab by @Brend-Smits on Apr 17, 2020, 17:23

mentioned in commit a6ca29ca5589d8a29494f04703b11d873bc10359

[2020-04-19 20:20] #89 closed

[2020-04-19 20:20] Brend-Smits opened #90 "Feature/43 project details redesign - [merged]"
In GitLab by @MaxKorlaar on Apr 17, 2020, 13:40

_Merges feature/43-project-details-redesign -> develop_

Closes #43

[2020-04-19 20:20] Brend-Smits commented on #90
In GitLab by @Brend-Smits on Apr 17, 2020, 17:34

unassigned @I380477

[2020-04-19 20:20] Brend-Smits commented on #90
In GitLab by @Brend-Smits on Apr 17, 2020, 17:34

assigned to @Brend-Smits

[2020-04-19 20:20] Brend-Smits commented on #90
In GitLab by @jcoenen96 on Apr 17, 2020, 18:23

In the api we've used clrf, I think we should keep this the same between front- and backend

[2020-04-19 20:20] Brend-Smits commented on #90
In GitLab by @jcoenen96 on Apr 17, 2020, 18:24

@Brend-Smits Project tags do not exist in the backend, I know we can update it but I doubt anybody in the backend knew about this.

[2020-04-19 20:20] Brend-Smits commented on #90
In GitLab by @Brend-Smits on Apr 17, 2020, 18:28

These are issues that are already created in the backend. See: https://git.fhict.nl/dex/dex-backend/-/issues/56
This is placeholder content until we have an implementation.

[2020-04-19 20:20] Brend-Smits commented on #90
In GitLab by @Brend-Smits on Apr 17, 2020, 18:29

Agreed, CLRF should be used everywhere

[2020-04-19 20:20] Brend-Smits commented on #90
In GitLab by @MaxKorlaar on Apr 17, 2020, 18:43

added 1 commit

<ul><li>30c22136 - Rename $primary-color to $accent-color-primary in Sassy CSS</li></ul>

[Compare with previous version](/dex/dex-frontend/-/merge_requests/19/diffs?diff_id=21335&start_sha=a89c66f8fda4fa5ce165df32b02d5205bc255179)

[2020-04-19 20:20] Brend-Smits commented on #90
In GitLab by @MaxKorlaar on Apr 17, 2020, 18:44

![image](/uploads/96df4eb4e8cb832db0fb56d97e23d693/image.png)

yikes

[2020-04-19 20:20] Brend-Smits commented on #90
In GitLab by @MaxKorlaar on Apr 17, 2020, 18:46

![image](/uploads/fa6063d4ebf3972d6e20c663f93c566b/image.png)

Even the IDE doesn't like them :^)

[2020-04-19 20:21] Brend-Smits commented on #90
In GitLab by @MaxKorlaar on Apr 17, 2020, 18:58

changed this line in [version 3 of the diff](/dex/dex-frontend/-/merge_requests/19/diffs?diff_id=21337&start_sha=30c221369e9120d357a88a23f002da1c8abf5b94#626a747c8694eaae66f2afb3d1a745b045782c70_10_10)

[2020-04-19 20:21] Brend-Smits commented on #90
In GitLab by @MaxKorlaar on Apr 17, 2020, 18:58

added 1 commit

<ul><li>852390af - Update *all* line endings to CLRF (yes, all of them)</li></ul>

[Compare with previous version](/dex/dex-frontend/-/merge_requests/19/diffs?diff_id=21337&start_sha=30c221369e9120d357a88a23f002da1c8abf5b94)

[2020-04-19 20:21] Brend-Smits commented on #90
In GitLab by @MaxKorlaar on Apr 17, 2020, 18:59

resolved all threads

[2020-04-19 20:21] Brend-Smits commented on #90
In GitLab by @Brend-Smits on Apr 17, 2020, 19:13

merged

[2020-04-19 20:21] Brend-Smits commented on #90
In GitLab by @Brend-Smits on Apr 17, 2020, 19:13

mentioned in commit 82c54c6a81cbd4451d2b21fffb1472227b76bc6d

[2020-04-19 20:21] #90 closed

[2020-04-20 08:37] RensNooren opened #91 "New design: 404 page"
New interface design for a 404 page for DeX

[2020-04-20 08:39] RensNooren opened #92 "New design: Edit project page"
New interface design for the edit project page. How would a user edit an existing project within DeX.

[2020-04-20 08:40] RensNooren opened #93 "Redesign usability flow: new project from sources"
How would a user navigate trough the "new project from sources" flow, and what would make this process easy and uniform.

Creating a flow which feels like a "Wizard" for new projects.

[2020-04-20 08:41] RensNooren opened #94 "Removing/replacing Clarity Framework"
To prevent further issues with the front-end development we need to remove or replace the Clarity Framework.

[2020-04-20 08:44] RensNooren opened #95 "Fix: margins and paddings on all pages"
Not all pages use the same margins and padding. We need to make all the styling uniform

[2020-04-20 08:49] RensNooren opened #96 "Fix: uniform text styling"
Some pages do not have the right styling on text, all text needs to be checked and adjusted to the designs.

Hompage:
- Highlighted projects, titles need to be aligned left

Project details:
- Title styling needs to be lowercase

[2020-04-20 08:52] RensNooren opened #97 "New design: illustrations"
In sprint 2 we created a first version of a styleguide which shows a specific type of illustration. We need to replicate this illustration and create new / different versions for usage throughout DeX.

Possible illustrations could be:
- A computer
- A computer folder
- 404 page image
- Thank you screen
- Highlighted projects

The illustrations will be used to give a bit of flair to the interface.

[2020-04-20 08:54] RensNooren opened #98 "Implementing design: Edit project page"
Implementing designs of #92

[2020-04-20 08:55] RensNooren opened #99 "Implementing design: 404 page"
Implementing design of #91

[2020-04-20 09:41] RensNooren opened #100 "Fix: completing global styling and variables"

[2020-04-20 09:41] MaxKorlaar commented on #94
+1

![image](https://user-images.githubusercontent.com/8917249/79737603-da5ab000-82fb-11ea-9a0f-9421cdde2990.png)

[2020-04-20 14:38] Brend-Smits commented on #94
After discussion earlier today we decided to go with:
*** NGX-Bootstrap**
Other frameworks that were considered:
* Angular Material
* NG Lightning
* Bootstrap
* Tailwind

We also considered the option to have no framework at all, however, we decided against this due to complexity it might add in the future and the difficulty to maintain.

[2020-04-21 09:48] RensNooren opened #101 "Fix: broken styling after clarity removal"
Fixing all styling that has been changed by removing clarity

[2020-04-22 12:46] Brend-Smits commented on #37
This was finished right? We have a first version, just not a definitive version described here #38 ? Please let me know @RensNooren

[2020-04-22 12:53] Brend-Smits commented on #37
This was finished right? We have a first version, just not a definitive version described here #38 ? Please let me know @RensNooren

[2020-04-22 12:57] Brend-Smits commented on #37
This was finished right? We have a first version, just not a definitive version described here #38 ? Please let me know @RensNooren

[2020-04-22 13:50] Brend-Smits commented on #56
@RensNooren I think this was finished as well right?

[2020-05-04 11:11] #37 closed

[2020-05-04 12:52] RensNooren opened #106 "Fix: Accordion styling"
Accordion is getting styled in the Global scss. Thge overview.component.scss can't override the standard styling.

[2020-05-05 11:52] #101 closed

[2020-05-07 09:58] #92 closed

[2020-05-09 06:58] #66 closed

[2020-05-09 07:08] #74 closed

[2020-05-09 07:11] #98 closed

[2020-05-09 13:50] Brend-Smits opened #112 "update oauth scopes"
Update oauth scopes to match backend role authorization. https://github.com/DigitalExcellence/dex-backend/issues/107

[2020-05-11 06:59] #94 closed

[2020-05-11 07:00] #56 closed

[2020-05-11 08:38] Brend-Smits opened #113 "Highlghted project sample size errors when 1 highlight"
**Describe the bug**
When there's a single highlight, the "randomize" method provides an error and does not show any highlights. When there are 3 or more highlights, it does work as expected.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the home page
2. Scroll to highlighted project section
3. Make sure that is a single project highlighted
4. See error in chrome console

**Expected

[2020-05-12 11:15] Brend-Smits opened #114 "Responsive Footer"
Footer does not seem to be fully responsive yet, refer to the comment follow:

Looks good, however it is not fully responsive yet. On mobile devices, it looks a bit off. I don't know if that's a priority for now and/or this issue @Brend-Smits.

_Originally posted by @MaxKorlaar in https://github.com/DigitalExcellence/dex-frontend/pull/110#issuecomment-627276220_

[2020-05-12 11:17] #68 closed

[2020-05-12 12:30] RensNooren opened #115 "Businessplan: Purpose"

[2020-05-12 12:32] RensNooren opened #116 "Businessplan: Target audience"

[2020-05-12 12:33] RensNooren opened #117 "Businessplan: Added value"

[2020-05-12 12:34] RensNooren opened #118 "Businessplan: Marketingplan"

[2020-05-12 12:34] RensNooren opened #119 "Businessplan: Competition analysis"

[2020-05-12 12:35] RensNooren opened #120 "Businessplan: Product/Service"

[2020-05-12 12:36] RensNooren opened #121 "Businessplan: Financialplan"

[2020-05-12 13:13] MaxKorlaar opened #122 "Add more structure to the front end styles"
Currently, all global styles for DeX can be found in one SCSS stylesheet. In order to make it a bit more organised, we should add separate stylesheets for our own components such as the orange button, of which I came across the same style definities in different components.

For example, create a file named `_buttons.scss` and import it in the main stylesheet using `@import 'buttons';`, preferably

[2020-05-18 08:51] #115 closed

[2020-05-18 08:51] #117 closed

[2020-05-18 08:58] RensNooren opened #123 "Project Wizard designs"

[2020-05-18 08:59] RensNooren opened #124 "Project Wizard usertest"

[2020-05-18 09:02] RensNooren commented on #73
Creating a separate issue for the design of the modal

[2020-05-18 09:03] RensNooren opened #125 "Design a "Modal" component"
Design for a modal

[2020-05-18 09:18] MaxKorlaar opened #126 "Business: Create a mission model canvas"
In order to familiarize ourselves and stakeholders with the business model of our nonprofit project.

[2020-05-18 09:24] MaxKorlaar opened #127 "Create a test plan for the desirability test"
As recommended in https://docs.google.com/document/d/1Tp2mfv-ZKoEQWolKeNfC_N2X9NYvYD_x47R6GgFRe-M/edit#heading=h.qf4esrnxv4mg

[2020-05-18 09:50] #69 closed

[2020-05-18 11:14] #112 closed

[2020-05-18 11:27] RensNooren opened #129 "Conversion plan: Goal description"

[2020-05-18 11:27] Brend-Smits opened #130 "Alert system for users to see messages"
**Is your feature request related to a problem? Please describe.**
Often when a user submits a form, or when the user enters a page that they are not authorized for. You want to show some sort of feedback to the user.

**Describe the solution you'd like**
Create a solution that can be called to show the user a message. Example would be: User is editing a project page, clicks on save, but the backe

[2020-05-18 11:28] RensNooren opened #131 "Conversion plan: Goals"

[2020-05-18 11:33] RensNooren opened #132 "Conversion plan: Influence"
Describing our influence:
Probative value
Sympathy
Authority

[2020-05-18 11:35] RensNooren opened #133 "Conversion plan: Target Audience"
https://imu.nl/website-effectiviteit/mbti-de-4-typen-websitebezoekers-welke-jij-moet-kunnen-bedienen/

[2020-05-18 11:36] RensNooren opened #134 "Conversion plan: Plan of action"

[2020-05-18 11:38] RensNooren opened #135 "Conversion plan: channels"

[2020-05-18 11:39] #129 closed

[2020-05-18 11:40] RensNooren commented on #129
Duplicate issue

[2020-05-18 11:41] RensNooren opened #136 "Conversion plan: Measurements"

[2020-05-18 15:54] rubenb994 commented on #130
Since we are using ngx-bootstrap I suggest we use their alerts: https://valor-software.com/ngx-bootstrap/#/alerts

[2020-05-19 07:26] Brend-Smits commented on #77
In the backend we show errors using the problem details standard. More information can be found in the issue https://github.com/DigitalExcellence/dex-backend/issues/80

[2020-05-19 09:36] rubenb994 commented on #77
What do we want to use the error handling for? To display messages to the user or just log it to the console? Or is there an other use for it?

[2020-05-19 09:40] Brend-Smits commented on #77
We have to intercept the error in the frontend and make decisions based on the error I think. This is open to discussion though. In some cases (like when saving an edit-project form, but getting a 500, you want to let the user know something went wrong in the backend and ask them to try again).

Other errors we should maybe redirect them to an error page?
Should we perhaps look into monitoring err

[2020-05-19 09:50] rubenb994 commented on #77
It is difficult to know though when the interceptor triggers what specific action caused the error to be triggered. For example I would not be able to differentiate between the following situations in which an error might get thrown: could not load the projects overview or could not post a new project.'

I think we should see this interceptor as a way to handle all errors equally and handle specif

[2020-05-19 11:35] Brend-Smits commented on #77
Okay so to confirm:
- One generic way to handle errors using the interceptor
- For specific cases we can specify it on the component level when calling the service if additional error handling is needed.

Please confirm/deny if I understood you correctly. If I did understand you correctly, I think this way of implementing this feature is perfectly fine!

Sentry offers unlimited project en project

[2020-05-19 13:09] rubenb994 commented on #77
Okay great, I will look into implementing Sentry. It seems like a cool way to log errors.

[2020-05-19 13:12] Brend-Smits commented on #77
Sweet, do you want me to give you access to an account that we can use for DeX?

[2020-05-20 13:37] #122 closed

[2020-05-20 14:43] #72 closed

[2020-05-20 16:24] wotwot563 opened #140 "Embed project button"
There needs to be an embed button that generates an iframe. This allows for Fontys or other websites to easily share projects and link them on their website on for example an Open Day.

[2020-05-20 17:28] Brend-Smits opened #141 "Want to be able to know what permissions a user has"
**Is your feature request related to a problem? Please describe.**
Currently, we have no way of telling whether a user has access to see particular buttons in the UI or not. As an example you can take the "Highlight" or "Embed" buttons.

**Describe the solution you'd like**
Retrieve from the API what roles a user has and make be able to retrieve this easily in the frontend so the frontend can easi

[2020-05-21 11:08] Brend-Smits opened #143 "Pipeline Frontend is missing"
I know it's probably because of some good reason. Just as a reminder, the pipeline in the frontend is missing currently.
It would be nice to have Github Actions build the project and provide feedback like we discussed before.

[2020-05-21 12:22] #73 closed

[2020-05-25 06:09] Brend-Smits opened #145 "Favicon"
**Is your feature request related to a problem? Please describe.**
Missing favicon

**Describe the solution you'd like**
Design and Add a favicon

[2020-05-26 14:42] rubenb994 opened #146 "Implement wizard for Github & other sources"
Github sources can be fetched by the frontend alone. Other sources need to be fetched through the projects/wizard endpoint of the API. Service should be implemented and linked to the corresponding components.

[2020-05-26 14:48] rubenb994 opened #147 "Display proper user image instead of stock photo"
The frontend should display a user their profile image instead of a stock photo.

This should be discussed with the backend how this will be implemented on the controller.

An idea which came up was to use generated or automatic images in case a user has not profile pictures. Platforms which use this are StackOverflow & GitKraken.

[2020-05-26 15:34] Brend-Smits opened #148 "Hide the Project tags"
During release we don't want to show the project tags (the ones that are currently hardcoded in the project-detail page) as we don't have any tags yet.

We should hide them before the release.

[2020-05-26 15:36] Brend-Smits opened #149 "Avatar of user"
During release we don't want to show the current stock avatar. We want to either show a stock avatar that like the ones from Gitlab, randomly generate them or hide them altogether.

The feature where people can upload and change the profile picture can be added later on.

[2020-05-26 16:24] #149 closed

[2020-05-27 08:12] #140 closed

[2020-05-27 11:37] rubenb994 commented on #147
Idea: We could use the DeX Rex and create this in many color variations and select a random one for the user in case they have no explicitly set a profile picture.

[2020-05-27 11:56] Brend-Smits commented on #99
Since the 404-page design is delayed, we can implement a temporary one. We will have to freestyle it for now.

[2020-05-27 11:58] Brend-Smits commented on #130
Fine by me. Let's stick with NGX Alerts, will be closing this issue. Implementation is depended on the  issue and where user alerts are needed.

[2020-05-27 11:58] #130 closed

[2020-05-27 12:00] MaxKorlaar commented on #99
I'd say a design with the D-Rex as a parody of Chrome's error pages would be nice.

[2020-05-27 12:04] Brend-Smits commented on #106
@MaxKorlaar do you think you could pick this up and get it sorted before the end of the sprint?

[2020-05-27 12:12] MaxKorlaar commented on #106
Yeah I'll see if I can get around to this on Friday

[2020-05-28 08:36] #131 closed

[2020-05-28 08:36] #134 closed

[2020-05-28 15:27] #113 closed

[2020-05-29 11:32] Brend-Smits opened #157 "Login page"
"Don't have a DeX account yet? Register now" can be removed.
After talking with Rens and Elaine, the FHICT buttons that are there now should be changed into a single bigger FHICT button.

This change is temporary as there are no other login handlers.

[2020-05-29 11:43] Brend-Smits opened #158 "Pagination is missing"
We do not have any pagination in the frontend. This is not a problem yet, but when we reach a certain amount of projects, the project-overview page will be slow and very large.

Implement using the ngx-bootstrap pagination module. There is no styling available, so free-style the component using the style guide.

Refer to: https://api.dex.software/index.html for more information on how to wire up t

[2020-05-29 12:07] #77 closed

[2020-05-29 12:14] StijnGroenen commented on #158
At the moment, only the search endpoint has pagination support.
Is there a page that shows all projects? In that case, we have two options: Add pagination support to the get all projects endpoint or add support for empty serach queries to the search endpoint.

[2020-05-29 12:41] rubenb994 opened #159 "Sentry is missing an environment variable"
**Describe the bug**
Sentry is missing an environment variable which caused the application not be built.

**To Reproduce**
Steps to reproduce the behavior:
1. Build application

**Fix**
Added sentryDsnUrl as empty property to development & staging environments

[2020-05-29 12:54] #159 closed

[2020-05-29 12:57] #146 closed

[2020-05-29 12:57] #145 closed

[2020-05-29 12:59] #141 closed

[2020-05-29 13:04] Brend-Smits commented on #158
The project overview page: https://dex.software/project/overview shows all the projects at this moment.
I think it might be worth adding pagination support to the get-all projects endpoint. Would this involve a lot of work? If it's too much work, we could use the search query workaround.

[2020-06-01 10:45] rubenb994 opened #163 "Footer does not support small screens"
**Describe the bug**
The styling of the footer does not support small screens. This results in the footer text displaying very strange.

**To Reproduce**
Steps to reproduce the behavior:
1. Open DeX frontend
2. Make screen smaller than 768 pixels
3. Footer displays ugly

**Expected behavior**
Footer columns should break up into a smaller amount of columns for smaller screens sizes
5 cols -> 2 cols

[2020-06-01 14:01] MaxKorlaar commented on #127
The test plan can be found on Google Drive: https://docs.google.com/document/d/1XBO4wDOPMb7czGXPPinmXzbARWnLULpfjacyDvnsAbY/edit

[2020-06-01 14:32] StijnGroenen commented on #158
This should not be a problem.
I created (and assigned) an new issue for this in the back end repository: https://github.com/DigitalExcellence/dex-backend/issues/156
I also created one for sorting: https://github.com/DigitalExcellence/dex-backend/issues/157

[2020-06-02 09:11] Brend-Smits commented on #163
Related to #114

[2020-06-02 09:17] Brend-Smits opened #166 "Search feature on home page and nav bar"
We have search fields in the nav bar and on the home page, these also need to be wired up. Only the project overview search works at this moment, maybe the logic from this component can be re-used for these search fields?

[2020-06-02 09:39] #143 closed

[2020-06-02 09:46] Brend-Smits commented on #158
This issue should still be open, the frontend needs to implement the pagination buttons/services.
Thanks for creating the other issues @StijnGroenen

[2020-06-02 10:02] #49 closed

[2020-06-02 13:54] Brend-Smits opened #168 "Edit page should not be allowed if project is not yours"
**Describe the bug**
There is no check currently if the project is yours and if you're allowed to edit it.

**To Reproduce**
Steps to reproduce the behavior:
Ensure that you're logged in and that you're trying to edit a project that is not yours.

1. Go to project/details/2
2. Click on Edit Project button
3. Try to edit the project

**Expected behavior**
Edit button not showing up / greying out be

[2020-06-02 15:21] #148 closed

[2020-06-02 17:20] #157 closed

[2020-06-03 10:34] rubenb994 commented on #76
Changed issue to use a toaster style for all alerts. Not only error alerts. Based on the alerts ngx-bootstrap has built in: https://valor-software.com/ngx-bootstrap/#/alerts

[2020-06-03 10:51] #99 closed

[2020-06-03 11:06] #75 closed

[2020-06-03 11:33] #106 closed

[2020-06-03 12:05] Brend-Smits commented on #97
@Eheijboer is this something you could work on in the coming weeks?
It would be cool to use the DeX Rex next semester!

[2020-06-03 12:07] #76 closed

[2020-06-03 13:01] Brend-Smits opened #171 "Filter accordion - wire up with backend"
**Is your feature request related to a problem? Please describe.**
The filter accordion on the project overview is currently purely visual.

**Describe the solution you'd like**
Make it functional, wire it up using our API query parameters.
Available options are:
Sort by:
- Upload date
- Created
- Name

Sort Direction:
- asc
- desc

**Additional context**
@StijnGroenen can give more details on how

[2020-06-03 13:30] rubenb994 opened #172 "Implement displaying of user friendly (info,warning, error) messages"
**Is your feature request related to a problem? Please describe.**
User should be informed when something goes wrong.

**Describe the solution you'd like**
With the use of the AlertService user friendly messages should be displayed to the user. This should be implemented in HttpInterceptor so that all http request will automatically display alerts if needed.

**Additional context**
-

[2020-06-03 17:43] wotwot563 opened #173 "Improve user flow when logging in"
Is your feature request related to a problem? Please describe.
When the user clicks on the login button, they click on the 'FHICT' button, then get redirected to the backend Identity server, where they have to click "Fontys" again. This is quite confusing for the end-user.

Describe the solution you'd like
Upon clicking "Login with FHICT" in the frontend, automatically redirect them through the id

[2020-06-03 17:50] #100 closed

[2020-06-04 15:02] rubenb994 opened #176 "User needs to login after window refresh"
**Describe the bug**
The logged in user is currently not persisted. This due to the fact that there is code in a ngOnInit in the auth service (Git blame myself) which will never be executed since ngOnInit is a Component lifecycle hook and not a service one.

**To Reproduce**
Steps to reproduce the behavior:
1. Login
2. Refresh window
3. User is logged out

**Expected behavior**
User should remain

[2020-06-07 11:13] #158 closed

[2020-06-07 18:07] Brend-Smits opened #179 "Search for " " will return 400 error from API"
**Describe the bug**
Users can search for empty strings in the search bar, leading to 400 error from API.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://localhost:4200/project/overview
2. Enter a space in the 'Search project' search field
3. Check console

**Expected behavior**
Filter space

[2020-06-07 18:31] Brend-Smits opened #180 "Highlights need to removable"
**Is your feature request related to a problem? Please describe.**
If you highlight a project, you currently can't remove the highlight.

**Describe the solution you'd like**
For already highlighted projects, hide the 'highlight project' button and replace it with 'delete highlight' one.

[2020-06-08 06:51] #136 closed

[2020-06-08 06:52] #121 closed

[2020-06-08 06:52] #132 closed

[2020-06-08 06:52] #135 closed

[2020-06-08 06:52] #133 closed

[2020-06-08 06:52] #119 closed

[2020-06-08 06:52] #123 closed

[2020-06-08 06:52] #116 closed

[2020-06-08 06:52] #120 closed

[2020-06-08 07:45] Brend-Smits opened #182 "Contributor overview in project overview is not styled properly"
**Describe the bug**
The contributors in the project overview page are not styled as they should be according to the design.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://staging.dex.software/project/details/1
2. See the Contributor tab, outline, and the font is weird.

**Expected behavior**
Contributors to be styled correctly according to the design. It looks like the unorde

[2020-06-08 09:43] Brend-Smits opened #183 "Make frontend styling uniform"
The following styling issues need to be resolved:

- [x] Contributors on project overview page, fixed in #209
- [x] Embed button on project overview page needs to be in the same place as the other buttons on that page

[2020-06-08 09:48] #51 closed

[2020-06-08 09:48] #57 closed

[2020-06-08 09:48] #58 closed

[2020-06-08 09:49] #48 closed

[2020-06-08 09:49] #93 closed

[2020-06-08 10:04] rubenb994 opened #184 "Auth token is sent to external source providers"
**Describe the bug**
Due to the auth-interceptor all http requests automatically get our DeX access token.

**To Reproduce**
1. Post a Github link in the add sources input box
2. In the network panel of the browser development tools you can see that the requests contains our access token

**Expected behavior**
The services which communicate with external endpoint should not use the default http cl

[2020-06-08 10:22] StijnGroenen opened #186 "Inconsistent naming: "Sign in" and "Login""
**Describe the bug**
Not really a bug, but inconsistent naming in the front end. Currently, the front end uses the term "Login" in some places and "Sign in" in others.

**Expected behavior**
Use the same terms everywhere. I suggest using "Sign in" everywhere.

**Screenshots**
![image](https://user-images.githubusercontent.com/8530165/84020167-aeb28880-a982-11ea-95be-b62fd7f26256.png)

[2020-06-08 10:43] RensNooren commented on #183
- [ ] Error Message Styling
- [ ] Buttons hover / active states
- [ ] hyperlink (a link) hover / active states (specifically Highlighted projects on homepage)
- [ ] 404 page styling
- [ ] Searchbar styling
- [ ] Project detail page, button placements (such as "highlight project" only when authorized)
- [ ] Contributors on project overview page
- [ ] Accordion styling
- [ ] Pagination page number s

[2020-06-08 10:47] RensNooren opened #187 "Styleguide element styling"
All elements that require styling:

- [x] Modals, including errors, form states, and buttons such as cancel and save
- [x] Search bar styling
- [x] Tooltip styling
- [x] Iconography
- [x] Error messages / pop-ups
- [x] Buttons in general, including hover, active and focused states

[2020-06-08 11:10] #118 closed

[2020-06-08 12:10] Brend-Smits commented on #183
This has a low priority.

What do you mean by this one? I don't think this is related to styling right?

[2020-06-08 12:23] Brend-Smits opened #188 "Project-Add update according to design"
**Is your feature request related to a problem? Please describe.**
The current project-add page is outdated in terms of the design

**Describe the solution you'd like**
Updated project-add page according to the designs:
https://xd.adobe.com/view/06c683f7-2898-4ceb-550e-1a76b3d40fee-70f7/grid/

**Additional context**
Add any other context or screenshots about the feature request here.

[2020-06-08 13:00] #173 closed

[2020-06-08 13:42] #184 closed

[2020-06-08 14:33] #168 closed

[2020-06-08 14:33] #176 closed

[2020-06-08 16:34] Brend-Smits opened #189 "/api/user is called when user is not authenticated"
https://localhost:5001/api/User  is called even when the user is not authenticated. It will of course return 401 unauthorized because the user has no bearer token.
This might be caused by https://github.com/DigitalExcellence/dex-frontend/commit/fcaade55925c3c9fc8181127fb8e2fcd7edc7d72

Reproduce by:
1. Open home page
2. Check console, see that it calls an API endpoint

[2020-06-09 11:12] RensNooren opened #190 "Merging Conclusions of all usertests"
- [x] Add project usertest
- [x] Usability usertest
- [x] Desirability usertest
- [x] Merging solutions overlap

[2020-06-09 11:13] #38 closed

[2020-06-09 11:33] RensNooren opened #191 "Design buttons for project detail page"
New design for all the buttons on the project detail page

[2020-06-10 13:14] Brend-Smits opened #193 "Delete button with modal confirmation"
**Is your feature request related to a problem? Please describe.**
Users want to delete a project, there should be a button to remove a project.

**Describe the solution you'd like**
Button to remove a project on the project overview page, a modal should pop up asking the user to confirm if they want to delete the project.

**Additional context**
Like the edit project button, it should only show u

[2020-06-10 19:34] RensNooren opened #194 "Buttons positioning on project detail page"
Buttons such as Embed/Delete/Edit/DeleteHighlight/etc
According to the designs below:

![](https://cdn.discordapp.com/attachments/420621335748804608/720360092397994034/Project_details_-_light_mode.png)

[2020-06-11 09:03] #187 closed

[2020-06-11 09:31] Brend-Smits commented on #186
Discussed this with @Eheijboer and we should go with "Sign in"

[2020-06-11 09:45] Brend-Smits opened #195 "Highlight on frontpage not responsive"
**Describe the bug**
When a project name is long, on smaller browser it will go outside its highlight section.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Home page, make sure you have a project highlighted with a long name
2. Scale browser down to mimic small sized windows

**Expected behavior**
Long project names should be cut off and put on the second line

**Screenshots**
https

[2020-06-11 10:17] Brend-Smits commented on #166
After talking with the design team the following needs to be done:
- Nav bar search component can be removed for now, according to the most recent user tests, it serves little purpose since there are no pages yet where there is no search functionality available aside from the project-detail page. (this feature might need to be added when we start getting features like portfolio's, user settings, p

[2020-06-11 10:18] Brend-Smits opened #196 "Predictive search queries"
**Is your feature request related to a problem? Please describe.**
When searching projects, there is no easy way to find new projects.

**Describe the solution you'd like**
Predictive search queries give the user feedback when typing by predicting that the user might want to look for, a good example is how google does this:
![image](https://user-images.githubusercontent.com/15904543/90410446-a5dce

[2020-06-11 10:18] Brend-Smits commented on #196
I will add more information about this issue during the holidays.

[2020-06-11 10:50] Eheijboer commented on #183
for the 404 page, to save time only what is currently on the 404 page needs to be centerd on the page with the footer at te bottom.

[2020-06-12 06:55] Brend-Smits opened #197 "Search Engine Optimization (SEO)"
**Is your feature request related to a problem? Please describe.**
Digital Excellence is hard to find for people that are looking for a platform like DeX but don't know the name.

**Describe the solution you'd like**
Search Engine Optimization, it's time to set up Digital Excellence for search engines to properly index our platform. Hook up Google Analytics and Google Search Console and optimize D

[2020-06-12 06:55] Brend-Smits commented on #197
I will add more information about this issue during the holidays.

[2020-06-12 06:56] #125 closed

[2020-06-12 06:57] #124 closed

[2020-06-12 07:52] Brend-Smits opened #198 "Banner to show that we're in Beta & "give feedback" button"
**Is your feature request related to a problem? Please describe.**
Users are unaware that the release will be beta and that some features may not be implemented yet, we want the user to know and we want them to know where to submit feedback.

**Describe the solution you'd like**
Show a dismissable banner that describes that the current release is beta. Additionally, we should show a button on the

[2020-06-12 16:04] rubenb994 opened #200 "AlertContainer overlaps other elements of the application"
**Describe the bug**
The alert container display itself even when there are not alerts. It overlaps other UI parts rendering those un-clickable since the alert container draws itself over these elements.

**To Reproduce**
Steps to reproduce the behavior:
1. Triggers alert
2. Alert container keeps displaying
3. All content behind the alert container is not clickable

**Expected behavior**
Alert con

[2020-06-12 16:14] rubenb994 commented on #186
Yea I definitely agree: see the following article about it: https://github.com/DigitalExcellence/dex-frontend/issues/147

[2020-06-12 16:25] rubenb994 commented on #198
I think we should use the alert service for this beta popup. Maybe it also a good idea to add some kind of beta text next to the logo, which triggers the alert again in case somebody clicked it away and still wants to report an issue

[2020-06-12 17:15] Brend-Smits commented on #198
That's okay with me, as long as the design is followed as shown in the image above.

[2020-06-12 17:22] rubenb994 commented on #198
To which repo issue page should the report issue link refer, the backend or frontend?

[2020-06-12 17:24] Brend-Smits commented on #198
dex-frontend

[2020-06-14 10:40] #191 closed

[2020-06-14 16:02] #147 closed

[2020-06-14 16:07] #186 closed

[2020-06-15 09:31] MaxKorlaar commented on #126
I've finally added a Mission Model Canvas on our Google Drive: https://drive.google.com/file/d/1WfdT7AmXYWcYw7gTr5V9aKmipK0dHkBY/view?usp=sharing

[2020-06-15 11:15] MaxKorlaar commented on #195
This is because of the long placeholder name. It shouldn't happen with multiple words, but this can be fixed anyway just to be certain.

[2020-06-15 11:54] #190 closed

[2020-06-15 12:03] rubenb994 opened #203 "Add support for SonarQube"
**Is your feature request related to a problem? Please describe.**
SonarQube is a cool tool and we should add support for it

**Describe the solution you'd like**
Create sonarqube props file. Update gitignore to ignore sonarqube output files.

[2020-06-15 13:56] #171 closed

[2020-06-15 13:56] #179 closed

[2020-06-15 13:56] #189 closed

[2020-06-16 07:42] #166 closed

[2020-06-16 08:18] #198 closed

[2020-06-16 09:10] Brend-Smits opened #207 "Add user back to project-overview page"
**Is your feature request related to a problem? Please describe.**
User was removed from project-overview page

**Describe the solution you'd like**
It needs to be added back according to the design

**Additional context**
See designs in XD

[2020-06-16 10:01] #203 closed

[2020-06-16 10:59] Brend-Smits opened #211 "privacy policy"
We need a privacy policy added to DeX

[2020-06-16 12:47] Brend-Smits opened #213 "Hide button if no permission"
**Is your feature request related to a problem? Please describe.**
All buttons are shown, even if the user does not have permission to use them

**Describe the solution you'd like**
Hide buttons that the user does not have permission to:
- Delete project button (this button is currently always shown)
- Highlight button
- Embed button

**Additional context**
Use the user-self endpoint that is being

[2020-06-16 13:04] #180 closed

[2020-06-16 14:11] #193 closed

[2020-06-16 14:31] #207 closed

[2020-06-16 15:30] Brend-Smits opened #215 "Privacy Policy consent"
**Is your feature request related to a problem? Please describe.**
Users need to give their consent to accept the privacy policy before being able to register/sign in.

**Describe the solution you'd like**
Ask the user with a modal popup when clicking on 'sign in' for the first time to read and accept the privacy policy.  Text of modal: "I have read the privacy policy and I understand that by sign

[2020-06-16 15:46] Brend-Smits opened #216 "WYSIWYG Editor for Project details"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Additional context**
Add any other context or screenshots about the feature request here.

[2020-06-16 15:46] Brend-Smits commented on #216
I will add more information about this issue during the holidays.

[2020-06-16 15:49] Brend-Smits opened #217 "Just-added project shows incorrect date"
**Describe the bug**
I just added a new project, but the date does not show properly. It shows January 1,1 instead of today's date.

**To Reproduce**
Steps to reproduce the behavior:
1. Add a new Project
2. Go to Project-Overview page
3. See date

**Expected behavior**
Correct date being send to the database to show upon creating a new project.

**Screenshots**
https://gyazo.com/8677a6d599e67ce4d5

[2020-06-16 15:58] #211 closed

[2020-06-16 16:29] #213 closed

[2020-06-16 17:45] #200 closed

[2020-06-16 20:04] Brend-Smits opened #221 "What should we do if there's no highlight?"
When there's no highlight to show, we will currently still show this: https://gyazo.com/8305e30f23815211719af58617ca2e5e

Should we hide the entire section?
This will also show an error message saying that there was an error in retrieving the highlighted projects.

[2020-06-16 20:21] MaxKorlaar opened #222 "Add DeX as a portfolio item on the Delta site"
Instructions can be found on https://git.fhict.nl/delta-projecten/delta-site/-/wikis/Creating-a-new-portfolio-item

[2020-06-16 20:55] Brend-Smits opened #223 "Embed.html desperate needs an upgrade"
Embedding is a functionality that can be used for Fontys to easily embed projects on the Fontys.nl during an open day or something.
Currently embeds look like this: https://gyazo.com/6e06161f2c8d39ac04fd09f776ca8978

I asked @MaxKorlaar to temporarily freestyle and fix this design to make it better.

[2020-06-16 21:03] #188 closed

[2020-06-17 12:26] Brend-Smits opened #224 "Production ready"
'x' icon showing when input type is set to search (overlapping our search icon)
Removed items from account dropdown in navigation bar
You need to be authenticated before adding a project now
Removed search field in the navigation bar
Renamed search on home page to "search project" instead of "Search source"
Sort option in project-overview now starts off as Descending instead of Ascending
Hitting t

[2020-06-17 13:09] rubenb994 opened #225 "Clean up SonarQube bugs/code sniffs/etc."
**Describe the bug**
Clean up SonarQube bugs/code sniffs/etc.

**Additional context**
Add any other context about the problem here.

[2020-06-17 15:57] #215 closed

[2020-06-17 19:40] #194 closed

[2020-06-17 19:54] MaxKorlaar commented on #223
![image](https://user-images.githubusercontent.com/8917249/84943420-9b22c280-b0e4-11ea-9cc8-2895c51de275.png)

I've hidden the navigation, footer and beta notice when on an embed page.

In case of an even smaller screen width, the sidebar is placed below the main content.

![image](https://user-images.githubusercontent.com/8917249/84943503-bdb4db80-b0e4-11ea-9bef-9ba29a6e72da.png)

This is current

[2020-06-17 20:01] Brend-Smits commented on #223
That already looks way better. The tags can also be hidden btw

[2020-06-17 20:05] MaxKorlaar commented on #223
I have commented them out, so that they can be brought back in the future.

[2020-06-18 08:43] Brend-Smits commented on #223
What does @rubenb994 think of your suggestion for a multi-layout routing setup?

[2020-06-18 08:54] #225 closed

[2020-06-18 09:06] #224 closed

[2020-06-18 10:07] rubenb994 commented on #223
Seems like a good solution, hiding all layout elements for certain routes does not feel like something we should implement

[2020-06-18 10:29] RensNooren opened #229 "Remove Collaborator button is not according to designs"
https://i.gyazo.com/e19b689c7258eb506059ab58fb3d3b26.png
Remove icon need to be styled to fit the design.

[2020-06-18 11:02] MaxKorlaar opened #230 "Details page does not show linebreaks in descriptions"
Linebreaks are stored in the backend, but the front-end does not display them. By default, browsers ignore newlines in text. This can be overridden with CSS, or you may programatically turn newline characters into line break elements `<br>`.

[2020-06-18 11:10] Brend-Smits opened #231 "Configure Error handling to not trigger Sentry on 404"
**Describe the bug**
Since we are returning 404 in the API when there is nothing to be returned........ Errors are send to Sentry constantly.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to project-detail page of non-highlighted project
2. Check your console, it will show error 404 highlight not found (that's ok, there is no highlight for this project)
3. Check sentry, error will be lo

[2020-06-18 12:20] Eheijboer commented on #221
I would say hide the whole highlight block? or a message saying something like "no highlighted projects yet"

[2020-06-18 13:01] #223 closed

[2020-06-18 14:03] StijnGroenen commented on #231
Error code 404 should not be used when there is nothing to return. The 400-499 range of HTTP status codes indicate a client error. When the list of highlights is empty, it is not a client error.
In my opinion, status code 204 (No content) should be used or 200 (OK) with an empty array as the body.

[2020-06-18 14:07] MaxKorlaar opened #232 "Add routing based layouts"
As described in https://github.com/DigitalExcellence/dex-frontend/issues/223#issuecomment-645589344, it should be possible to use different layouts based on the current route, letting normal routes inherit the 'regular' layout.

[2020-06-18 14:15] RensNooren opened #233 "Implementing styling fixes 1"
A few styling fixes that need to be implemented:

Navigation bar
- [x] Aligning " beta "  logo
- [x] Removing the search bar from the navigation bar

Footer
- [x] Changing the color of the GitHub link to DeX orange
- [x] Aligning the Footer to the bottom to the page (no whitespace on shorter pages)

Home
- [x] Removing the white background from the illustration
- [x] Placeholder of the search bar

[2020-06-18 14:17] Brend-Smits commented on #233
Some of these issues have already been fixed in #227 but have not yet been deployed

[2020-06-18 14:46] Brend-Smits commented on #231
Yes please, except we have little time. This should be fixed properly after the initial release. https://github.com/DigitalExcellence/dex-backend/issues/207

[2020-06-18 15:03] sentry-io[bot] opened #235 "Going to /project/details/RANDOMSTRINGHERE triggers error instead of 404"
Sentry Issue: [FRONTEND-1W](https://sentry.io/organizations/digital-excellence/issues/1733195773/?referrer=github_integration)

[code]

Steps to reproduce:
1. Go to dex.software/project/details/DNHSAUDNUAJSNDF
2. See you don't get 404 error

[2020-06-18 15:04] StijnGroenen opened #236 "WIzard throws URL not supported error"
**Describe the bug**
When any URL other than a GitLab or GitHub repository is used for the wizard, the console shows an URL not supported error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'Add project'
2. Add the URL 'https://github.com/DigitalExcellence'
3. Click on the search icon
4. Open the developer console of your browser
5. See the error

**Expected behavior**
Open the manu

[2020-06-18 15:47] rubenb994 opened #238 "Implement better localStorageHandling"
**Is your feature request related to a problem? Please describe.**
Currently we are directly accessing the localStorage which could lead to bugs since keys are not stored centrally.

**Describe the solution you'd like**
A Util class should be implemented which takes care of all localStorage saving and retrieving

**Additional context**
Add any other context or screenshots about the feature request

[2020-06-18 15:50] rubenb994 opened #239 "Beta banner should be dismissible"
**Describe the bug**
Beta banner should be dismissible

**To Reproduce**
1. Dismiss beta banner
2. Refresh page
3. System display banner

**Expected behavior**
1. Dismiss beta banner
2. Refresh page
3. System display no banner

[2020-06-19 09:05] #236 closed

[2020-06-19 09:23] #127 closed

[2020-06-19 11:23] #233 closed

[2020-06-19 11:38] #182 closed

[2020-06-19 13:56] #216 closed

[2020-06-19 13:56] #238 closed

[2020-06-19 13:56] #239 closed

[2020-06-20 09:38] RensNooren opened #241 "Implementing styling fixes 2"
A few styling fixes that need to be implemented:

Add Project Forms:
- [x] Placeholders are missing or incorrect
- [x] Text below Collaborator is missing
- [x] Active forms do not have the correct styling
- [x] Rename " Add project members " to " Add project collaborators " and style with correct H element
- [x] Collaborator list is not fitting in with the designs

Project Filter :
- [ ] All filte

[2020-06-20 11:40] Brend-Smits commented on #230
This should be fixed now on staging, can you verify? @MaxKorlaar

[2020-06-20 11:41] Brend-Smits commented on #229
Is this also fixed by #242
If it is, include it in the PR and let the PR close this issue with the closes tag

[2020-06-20 11:45] MaxKorlaar commented on #230
![image](https://user-images.githubusercontent.com/8917249/85201006-38a40f00-b2fc-11ea-9374-7dbbd860517f.png)

Not currently able to verify this

[2020-06-21 12:59] #91 closed

[2020-06-21 17:06] #241 closed

[2020-06-21 18:12] #229 closed

[2020-06-21 18:12] #183 closed

[2020-06-21 18:12] #126 closed

[2020-06-21 18:13] #96 closed

[2020-06-21 18:13] #95 closed

[2020-06-22 07:56] Brend-Smits opened #243 "Highlight need html stripping"
**Describe the bug**
![image](https://user-images.githubusercontent.com/15904543/85262815-95bfd200-b46e-11ea-8a4a-3029f4145924.png)

html shows on the frontpage, not very nice for the release

**To Reproduce**
Steps to reproduce the behavior:
1. Go to frontpage
2. See HTML in highlight

**Expected behavior**
Strip HTML from highlight

[2020-06-22 08:35] Brend-Smits opened #245 "Highlight descriptions"
**Is your feature request related to a problem? Please describe.**
Descriptions from the project are being used to show in the highlight box, this also includes headers, images, and text that is not useful to show in highlights.

**Describe the solution you'd like**
Allow the addition of descriptions for highlights. This allows us to differentiate between normal descriptions and highlights.

[2020-06-22 08:37] #243 closed

[2020-06-22 09:25] rubenb994 commented on #230
This is no longer an issue since we implemented Quill for rich text editing & displaying
![image](https://user-images.githubusercontent.com/34919304/85271362-010fa100-b47b-11ea-942b-f4b6f32ed459.png)

[2020-06-22 09:25] #230 closed

[2020-06-22 10:56] #221 closed

[2020-06-22 10:56] #231 closed

[2020-06-22 10:56] #235 closed

[2020-06-22 11:15] StijnGroenen opened #247 "Bug: Error message when opening or editing a project"
**Describe the bug**
When clicking the edit button on a project or when opening a project page, the UI shows the error message "The project with the identifier could not be found". This is probably happening while the project is still loading.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'A project page'
2. Click on 'The edit button (pencil)'
3. See error message for a split second

[2020-06-22 11:17] Brend-Smits commented on #247
Ahhhhhhh now I see.... I did not notice this before.
Nice catch

[2020-06-22 11:18] StijnGroenen opened #248 "Add support for markdown tables"
**Is your feature request related to a problem? Please describe.**
Currently, when a user adds a project from GitHub, the readme file gets converted to HTML. However, this does not work for tables.

**Describe the solution you'd like**
Either add a feature that automatically converts tables as well, or remove the tables entirely.

[2020-06-22 11:23] StijnGroenen opened #249 "Add a proxy to external images for privacy"
**Is your feature request related to a problem? Please describe.**
When adding a new project to the Digital Excellence platform, it is possible to add images from external sources. When a user opens the project page of a project with these images, the images get loaded by the browser. This makes it possible for the hosts of these external images to track our users.

**Describe the solution you'd l

[2020-06-22 11:27] StijnGroenen opened #250 "Bug: Relative links need to be converted"
**Describe the bug**
When importing a project from GitHub, the markdown readme file is converted to HTML. However, the relative links stay relative. This makes them break.

**Expected behavior**
Relative links should be converted to absolute URLs.

[2020-06-22 11:30] wilrikdeloose opened #251 "Add cancel button on edit project page"
I was clicking around and trying out all the various features of the app. I wanted to see how the WYSIWYG editor looked like for a particular project. Unfortunately there was nog back or cancel button. I understand I could just click projects again, but still, I felt I missed this option.

Add a cancel button next to the edit button on the bottom of the page.

[2020-06-22 11:35] StijnGroenen commented on #247
When you run it locally, it is of course way faster. This makes it much harder to notice.

[2020-06-22 11:54] StijnGroenen commented on #247
I just noticed the same problem happening when opening a project page.

[2020-06-22 11:58] wilrikdeloose opened #252 "Long project URI's overlap with text on project detail page"
**Describe the bug**
The project URI is displayed on top of the details of the project when the URI tends to get too long. See the screenshot for an example.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the details page of any project with a long URI (https://dex.software/project/details/23)
2. See error 👀

**Expected behavior**
Not sure. Add proper line breaks, cut off the string a

[2020-06-22 12:19] StijnGroenen opened #253 "Bug: Unauthorized error"
**Describe the bug**
When I open a project page I get an alert that says Unauthorized.
The developer console shows that these are for requests to the user endpoint.
I also can't see the edit button for my own projects anymore.
I think that my token might have expired.

**Expected behavior**
No error message

**Screenshots**
![image](https://user-images.githubusercontent.com/8530165/85286572-29a395

[2020-06-22 12:21] StijnGroenen opened #254 "Open external links in a new tab"
**Describe the solution you'd like**
I would like external links to the projects to open in a new tab. (target="_blank")

[2020-06-22 12:27] Brend-Smits commented on #253
Odd, it should silent refresh. WIll take a look later.
When logging in again, it will fix itself right?

[2020-06-22 12:31] StijnGroenen commented on #253
When signing in again it will give one more error, but after that, it works again.

I checked it. My token was indeed expired. The expiry time of the token was only 5 minutes though.

[2020-06-22 12:38] StijnGroenen commented on #253
I did some more testing.
I think that the silent refresh stops working when the tab is inactive for a while.

Anyway, even if the token is expired, it should never display this error. It should just sign out the user.

[2020-06-22 12:44] StijnGroenen opened #255 "Bug: Markdown to HTML wrongly converts underscores to italics"
**Describe the bug**
Underscores in the readme file of a GitHub project get converted to italics text.

**Expected behavior**
It should keep the underscores in case they existed in the original markdown. It should only convert them to italics if this was the case in the original markdown as well.

**Screenshots**
**Example:**
Before:
![image](https://user-images.githubusercontent.com/8530165/85288

[2020-06-22 12:47] StijnGroenen opened #256 "After editing a project, the user should be redirected to the project page instead of the overview page"
**Is your feature request related to a problem? Please describe.**
When a user saves an edited project, he or she gets redirected to the overview page.

**Describe the solution you'd like**
The user should be redirected to the page of the project he or she just edited.

[2020-06-22 13:18] rubenb994 commented on #255
Issue can be fixed with the following config property for showdown: https://github.com/showdownjs/showdown/wiki/Showdown-options#literalmidwordunderscores

[2020-06-22 13:20] rubenb994 commented on #255
This also means we need to disable the module for Quill which allows us to type markdown in the Quill editor. Should I disable and remove this module?

[2020-06-22 13:28] StijnGroenen commented on #255
Mid-word underscores are quite common as text (for technical documentation in readme files). I don't they should be converted to italics. GitHub itself (where we import the readme files from) also does not convert mid-word underscores to italics.

In that case, I think is better to keep the markdown functionality in Quill.

[2020-06-22 13:32] rubenb994 commented on #247
Aah, I am to blame for this, did not think of this scenario. I could display a simple 'Project is being loaded' while the API call is executing. I think the next iteration should implement a nice loading screen.

[2020-06-22 13:33] rubenb994 commented on #255
So you think it would be wise to prioritize markdown typing over proper conversion of markdown? I am really on the fence about this. @Brend-Smits what do you think of this

[2020-06-23 08:25] Brend-Smits commented on #255
Markdown typing has priority over de import, the user should check the imported readme file by hand and make modifications if necessary.

[2020-06-23 09:34] rubenb994 commented on #255
Okay in that case I will not disable the module. I however modified showdown (Markdown convert library) to ignore underscores in words. Meaning that this issue can be closes since we favor Markdown support over conversion.

[2020-06-23 09:34] #255 closed

[2020-06-23 09:37] rubenb994 commented on #250
Do you have an example URL to test this bug with?

[2020-06-23 09:38] #217 closed

[2020-06-23 10:42] StijnGroenen commented on #250
One of my personal projects has a link to the license file in the readme. GitHub automatically converts the link LICENSE to the actual license file of the current branch. On Dex, the link becomes dex.software/LICENSE since it is relative.

[2020-06-23 12:54] rubenb994 commented on #253
The  frontend implementation refers to a silent-refresh.html file which is not present in the code base

[2020-06-23 13:02] Brend-Smits commented on #253
This is included in the library pretty sure. Rens and I tested this in staging last Thursday.

[2020-06-23 13:13] rubenb994 commented on #253
Just tested locally on the following url: http://localhost:4200/silent-refresh.html

It gave me a 404 error. So it looks like it is not present. Beside that I see no single reference to this file in the code except the environment. I would expect a reference to it from the angular.json file.

[2020-06-23 17:01] rubenb994 commented on #250
Could you paste link here so I can use that for testing

[2020-06-24 08:56] StijnGroenen commented on #250
The link is just LICENSE (since it is relative).
You could use my project as an example: https://github.com/StijnGroenen/ikea-tradfri-api

[2020-06-24 10:03] Brend-Smits commented on #253
You might be on to something here, I've been trying to find a solution for this.
Steps to more easily reproduce this locally:
Replace the IdentityConfig.cs in dex-backend -> Identity Server -> Configuration -> IdentityConfig.cs with the version from this gist: https://gist.github.com/Brend-Smits/9e9a3993722fcdbe57f6716e9076ebc8

This sets the token life time to 60 seconds and fixes some cors issue

[2020-06-24 10:04] MikeKotte opened #258 "Header breaks responsiveness on all pages"
**Describe the bug**
Header breaks responsiveness on all pages when viewed on mobile device sizes.

**To Reproduce**
Steps to reproduce the behaviour:
1. Go to any page.
2. Scale browser down to mimic small sized windows.

**Expected behaviour**
Pages should be responsive to the screen size.

**Screenshots**
https://imgur.com/r3PMuvD

[2020-06-24 10:07] Brend-Smits commented on #258
Heey Mike,
Thanks for submitting an issue.

Making DeX fully responsive is one of our goals for the upcoming semester, we will be sure to keep you posted on this issue on the progress.

[2020-06-29 17:24] #247 closed

[2020-06-29 17:24] #251 closed

[2020-06-29 17:24] #252 closed

[2020-06-29 17:24] #254 closed

[2020-08-17 08:32] Brend-Smits opened #262 "Make DeX Responsive"
**Is your feature request related to a problem? Please describe.**
#195, #114, #163, #258
Digital Excellence should work on all major resolutions.

**Describe the solution you'd like**
New designs for Tablet/Mobile should be created. From here on, the implementation should follow making DeX fully responsive.

[2020-08-17 08:36] Brend-Smits commented on #222
Done: https://deltafhict.nl/project/digital-excellence-platform/

[2020-08-17 08:36] #222 closed

[2020-08-17 09:02] Brend-Smits opened #263 "[Need more information ]Auto deployment staging/production frontend not working due to npm package typescript bug"
**Describe the bug**

![image](https://user-images.githubusercontent.com/15904543/90389797-7d44f000-e08a-11ea-90f9-cf5cc4fe21d2.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help e

[2020-08-17 11:42] Brend-Smits commented on #263
Fixed in https://github.com/DigitalExcellence/dex-frontend/commit/75da4bbe9bb47176e69ac28f0676b1034137e48c

[2020-08-17 11:42] #263 closed

[2020-08-17 14:49] Brend-Smits opened #265 "Profile page"
**Is your feature request related to a problem? Please describe.**
No way to edit profile options like avatar, name, settings, request your data, remove your account.

**Describe the solution you'd like**
Good looking, mobile-friendly, profile page that has all the options that we need for now.

**Additional context**
First we need to make designs, then we should consider implementing it.

[2020-08-17 15:16] Brend-Smits commented on #97
I recently found this website that we can use for some of these illustrations: https://undraw.co/illustrations
These are Open Source Illustrations with proper licenses that we can make use of.

[2020-08-17 15:32] Brend-Smits opened #266 "Project Icon"
**Is your feature request related to a problem? Please describe.**
There is no way to add/update the icon of a project

**Describe the solution you'd like**
Add the ability to add/update the icon of a project when creating a project and when updating/editing a project.

**Additional context**
Discuss with the backend: https://github.com/DigitalExcellence/dex-backend/issues/217

[2020-08-17 15:34] Brend-Smits commented on #245
Related to backend issue: https://github.com/DigitalExcellence/dex-backend/issues/218

[2020-08-17 15:53] Brend-Smits opened #267 "Add "Call-to-Action" to your project"
**Is your feature request related to a problem? Please describe.**
Each person has their own reason on why they post their project or idea on our platform. We currently have no easy way to highlight this reason and to give the creator tools to easily connect with other interested parties.

**Describe the solution you'd like**
Project Creators should be able to select from a preset of "call-to-acti

[2020-08-17 15:57] Brend-Smits opened #268 "Design/Test a portfolio user page"
**Is your feature request related to a problem? Please describe.**
There is currently no easy way to show your portfolio to other interested parties.

**Describe the solution you'd like**
Design a clean portfolio page that is easy to manage for users and that is easy to share. The user is able to show/hide projects that are automatically added to the portfolio page (because they got added via a pr

[2020-09-01 11:42] Brend-Smits opened #270 "Make DeX interactive"
The website is very clean but could be more interactive.
Project Overview page is very static, can be catered more towards our target audience

[2020-09-01 11:42] Brend-Smits commented on #270
Examples: tag clouds, interesting visuals,

[2020-09-01 11:44] Brend-Smits opened #271 "Research and design a recommendation system"
The recommendation system should invite users to connect and collaborate on the platform, but should also keep the audience interested to stick around and explore more project/ideas.

[2020-09-01 11:48] Brend-Smits opened #272 "Community interaction"
How can we create a community with our audience?
Should people be able to like/dislike projects, comment on them, share them?

Sandra Verhoeven about the research of what people in FHICT are missing in terms of community interaction

[2020-09-14 09:06] waltersajtos commented on #266
Okay so after some discussions with the [backend](https://github.com/DigitalExcellence/dex-backend/issues/217) we are going to implement a generic file-uploader.

What would be a logical way to implement this?
`<app-file-uploader [acceptMultiple]=false [acceptedTypes]="images/png, images/jpeg, images/jpg"`

And for workflow, if a user DnD's (Drag and Drop)/ selects a file/ image should we instantl

[2020-09-14 09:19] Brend-Smits commented on #266
Workflow that I think is right:
-> User clicks on Project Edit button
-> On the Project Edit page, the user clicks on the project icon button.
-> User can either drag and drop the file in here, or select the file using the file explorer.
-> Once the file is selected, in the browser we should show like a 'preview', the preview is of course temporary and is only here to let the user know that it's u

[2020-09-14 09:47] StijnGroenen commented on #266
Since uploading an image can take some time, make sure to add a progress bar for the file upload. This makes the user aware of the file upload and hopefully prevents the user from leaving the page / closing the tab.

[2020-09-14 09:54] waltersajtos commented on #266
Yeah, I was planning on doing that but I just wasn't sure to instantly start uploading the file so we could display the progress bar per file. I can't think of a way to display the progress on the form submission

[2020-09-14 09:56] Brend-Smits commented on #266
A fake progress bar until we get response from the API would be best I think.

[2020-09-14 09:58] StijnGroenen commented on #266
It does not necessarily have to be a progress bar. A loading icon would be fine as well. As long as the user knows that the file is still being uploaded.

[2020-09-14 11:36] waltersajtos commented on #266
Something like this https://gyazo.com/53b3fd5d9c4fb1fb9cde7de332c7b5fc @Brend-Smits ?

[2020-09-14 11:55] Brend-Smits commented on #266
I think that's a decent starting point. The design will definitely need some work though.

[2020-09-15 08:15] Brend-Smits opened #276 "Staging is not working"
**Describe the bug**
Frontend staging is not working, something is messing with polyfills causing things to break. I think it's a dependency that's messing up, could also be a dependency of a dependency.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to staging.dex.software
2. Go to project over page, voila.

**Expected behavior**
Working staging frontend with automated working deploymen

[2020-09-15 09:25] Brend-Smits opened #277 "set-env.ts file is not setting variables"
**Describe the bug**
Based on recent deployments, we noticed an issue where set-env.ts is not being set correctly causing several issues in deployment.

**To Reproduce**
Steps to reproduce the behavior:
1. Make new PR with deployment branch
2. Check Github actions for logs of set-env
3. See that they are empty

**Expected behavior**
Filled in environment.prod.ts file by set-env file

[2020-09-15 15:23] Brend-Smits commented on #268
Portfolio feature wish list:
- Description
- List of projects that you are attending (from DeX)
- List of projects that can be added that are outside of DeX
- Able to decide per project what is visible on your personal profile
- Some way to show visitors what frequently used frameworks, languages, or topics are (perhaps in a tag cloud or similar)

[2020-09-15 15:32] Brend-Smits commented on #270
Quick wins:
- Clickable names on the project detail page
- Clickable names on the project overview page, will trigger a search that is specific for the user that you clicked on. (example: https://dex.software/project/overview?query=Max, might be nice to add collaborators to this search as well)
- Ability to follow Projects
- Ability to follow Tags/Categories
- Ability to follow Users
- Setup email

[2020-09-15 15:34] Brend-Smits opened #278 "Research: How to keep our target audience engaged?"
**Is your feature request related to a problem? Please describe.**
We want our target audience to visit DeX regularly. How do we keep our target audience engaged?

**Describe the solution you'd like**
Execute research and create new issues based on this research if changes need to made to implementations.

[2020-09-15 15:43] Brend-Smits opened #279 "Update design: Clickable names"
**Is your feature request related to a problem? Please describe.**
The designs need to be updated to reflect changes wanted in issue: https://github.com/DigitalExcellence/dex-frontend/issues/270
This issue is specifically for the part about making the names clickable on the project detail page and on the project overview page.

**Describe the solution you'd like**
Updated Adobe XD files

[2020-09-15 15:47] Brend-Smits opened #280 "Update design: Follow Users, Tags/Categories"
**Is your feature request related to a problem? Please describe.**
As described in this issue: https://github.com/DigitalExcellence/dex-frontend/issues/270
We want to have the ability to follow projects, users and categories/tags. There is no design for this yet so we need to figure out where it makes sense to place this feature, how it will look like, if it needs a confirmation modal, etc.

**Des

[2020-09-15 16:41] Brend-Smits opened #281 "Update design: Like a project"
**Is your feature request related to a problem? Please describe.**
As described in #270, we want to have the ability to like projects. There is no design for this yet so we need to figure out where it makes sense to place this feature, how it will look like and if it needs things like a confirmation modal, etc.

**Describe the solution you'd like**
Updated Adobe XD file. Ensure that this feature i

[2020-09-15 16:43] Brend-Smits opened #282 "Update design: Convert current designs for other resolutions"
**Is your feature request related to a problem? Please describe.**
We want DeX to be fully responsive #262, certain pages will need to look different in certain resolutions to make sense.

**Describe the solution you'd like**
New and Updated designs to reflect the different solutions. Designs should be provided in Adobe XD (link) as a clickable prototype.

[2020-09-16 07:05] Ruby77 commented on #258
Okay, after some research on different responsive header/navbar designs, I was wondering: do we expect more links in the header in the future? This is good to know for creating the header right now, otherwise we have to change it again whenever there will be added more links.
The toggle header would be an idea if we expect more links appearing in the future. If there won't appear more links, we ha

[2020-09-16 09:57] Niekvandam opened #283 "Update pages for better discoverability"
Right now there are some pages which do not have the right configuration to be discovered by google, or at least indexed properly. This can be improved by adding certain markup and changing keywords. A small list below:

- Adding unique titles per page
- Adding description meta tags
- Creating meaningful urls
- Add meaningful link text
- Optimizing HTML images by adding lazy loading or alts
- Givi

[2020-09-16 11:51] Niekvandam opened #284 "Create robots.txt to guide webcrawlers"
The robots.txt file is used to deny or allow certain web crawlers on parts of the website. This restriction can be used to increase our rankings by SERPs (Search Engine Result Pages), and can disallow unknown web crawlers as long as they abide the robots.txt

However, when Googlebot needs to crawl a lot of dynamically generated pages, it will take longer to index the entire webpage, which could ne

[2020-09-16 12:44] Brend-Smits opened #285 "Continuous Integration: SEO Checks"
**Is your feature request related to a problem? Please describe.**
Lack of checks that are currently added to the pipeline to check for SEO

**Describe the solution you'd like**
Add actions like: https://github.com/marketplace/actions/lighthouse-check

**Additional context**
If there are other recommended actions, please do comment down below.

[2020-09-16 12:59] Brend-Smits commented on #258
I don't expect new nav-bar tab items getting added anytime soon. We will be adding additional tabs in the dropdown from the account though, things like "Profile, Portfolio, Settings... etc"
I think a toggle might be best for now, we don't have designs for this yet but it's a good start I suppose. When the design updates, we can update our implementation.

[2020-09-16 13:22] Niekvandam opened #286 "Dynamic meta/title tag updates"
GoogleBot highly values description of unique websites, and these will greatly increase the index ranking on SERPs. This is why most(if not all) pages should have their own unique meta tags with descriptions. Since these tags are statically placed in the index.html, we need to update them dynamically.

[2020-09-16 13:35] niraymak opened #287 "Implement new filter based on new design"
**Is your feature request related to a problem? Please describe.**
The current filter is using accordion and was based on a temporary design. The 'collapse' icons are also difficult to animate.

**Describe the solution you'd like**
on the next page:
https://dex.software/project/overview on the left panel
the filter menu should be re-implemented using the design found in #413

[2020-09-16 14:00] Brend-Smits opened #288 "[NEEDS MORE INFORMATION] Research: What do we want to inform the community about?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Additional context**
Add any other context or screenshots about the feature request here.

[2020-09-16 14:48] waltersajtos opened #289 "Feedback button blocks footer on smaller resolutions"
**Describe the bug**
Feedback button blocks footer on smaller resolutions

**To Reproduce**
Steps to reproduce the behavior:
1. Go to any page.
2. Resize the screen to a low resolution

**Expected behavior**
The button should move in a different place/ change style so it does not block the footer content

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https:/

[2020-09-16 15:10] #163 closed

[2020-09-16 19:51] waltersajtos commented on #266
I think I am kind of stuck on this issue till the backend is finished, I will submit a draft pr soon.

[2020-09-17 09:46] Brend-Smits commented on #287
What's a shrink icon? Could you please give an example? Maybe link to a website that has this functionality.

[2020-09-17 09:47] Brend-Smits commented on #266
@niraymak how far are you with the implementation? Can @waltersajtos pull the branch and start testing it? Can you two work together on this so we don't get stuck?

[2020-09-17 09:55] niraymak commented on #287
Wasn't sure about the right term for it. What I mean is shown in the link below.

https://dribbble.com/shots/7334894-Adam-collapse-and-expand-micro-interaction

[2020-09-17 12:53] Brend-Smits commented on #270
I can't help it, to make DeX more interesting to visit and look at. Adding the DeX-ReX to make things more original and to really set up a brand around DeX. We can work on implementing the ReX properly in our designs.

[2020-09-18 11:38] Niekvandam opened #293 "Implement google analytics"
Implement google analytics on the website and update the privacy policy accordingly

[2020-09-18 12:31] StijnGroenen commented on #270
I understand that liking projects would help other users find the best projects by using the likes in the discovery algorithm.
I am wondering what the point of following a project is though. Once a project is added to Digital Excellence, it won't change much. The actual activity of the project happens on the original platform (ex. GitHub, GitLab, etc.). If a user is interested in one of the projec

[2020-09-18 12:37] StijnGroenen commented on #293
I am not sure updating the privacy policy will be enough. I think you also explicitly need to ask the user for consent.

[2020-09-18 18:12] Brend-Smits commented on #293
Yes Stijn is right. I need to discuss this with our dataofficer

[2020-09-18 18:13] Brend-Smits commented on #270
Ah yes... I forgot to update this issue. I talked with Wilrik about this and we came to the same conclusion.

[2020-09-21 08:40] niraymak opened #294 "Implement update highlight"
**Is your feature request related to a problem? Please describe.**
Currently it is not possible to update a highlight.

**Describe the solution you'd like**
An option on the project details page to update existing highlights (if you have the right credentials).

**Additional context**

[2020-09-21 11:34] Brend-Smits commented on #294
Will need a new "Edit Highlight" button. The edit highlight modal will need to show a list view of the available highlights. Then the user selects a highlight they want to edit and click on "Continue", new modal should then open up that will allow the user to edit the actual description and time of the highlight. This modal should be identical to the existing 'create highlight' modal, except fille

[2020-09-21 13:40] liekevdvoort opened #296 "Responsiveness projects page"
**Describe the bug**
A clear and concise description of what the bug is.
The project page overflows horizontally on mobile devices

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '/project/overview'
2. Scale screen to mobile viewport

**Expected behavior**
A clear and concise description of what you expected to happen.
stack everything on top of eachother and not overflow horizontally

[2020-09-21 14:10] Niekvandam opened #298 "Create user friendly urls for webpages"
At the moment there are non-SEO friendly urls in the project. For example `/project/details/21` should be something along the lines of `/project/details/name-of-project` . This means that we have to remove the robotic urls which work with ID's and make it readable to our visitors as well.

This way the googleBot and other crawlers can rank our pages higher in the SERPs and would in theory result i

[2020-09-21 15:10] Brend-Smits commented on #298
Sounds good, I think the URL should be like this:
/project/details/PROJECTIDHERE-PROJECTNAME
example: /project/details/1-this-is-my-project-name

[2020-09-21 17:33] #289 closed

[2020-09-21 17:55] #245 closed

[2020-09-22 08:49] #114 closed

[2020-09-22 10:02] Brend-Smits commented on #284
This is closed in https://github.com/DigitalExcellence/dex-frontend/pull/295 right?

[2020-09-22 12:52] #283 closed

[2020-09-23 08:52] liekevdvoort opened #299 "Design and consistency improvements"
**Describe the bug**
A clear and concise description of what the bug is.
The design has different icons to communicate the same message set this to the same icon
Margins in filtermenu items aren't centered
More visual communication instead of text in pagination menu

**To Reproduce**
Steps to reproduce the behavior:
1. Go to /project/overview

**Screenshots**
If applicable, add screenshots to help

[2020-09-23 11:37] matir8 opened #302 "Pagination query parameters are not cleared on new search"
**Describe the bug**
Currently, we can only search for projects only on the selected page. For example, when you go to the second page of the projects list and you enter a search the results will be shown only for projects on the second page. We want to search through all the projects. So we should clear the pagination query parameters when making a new search.

**To Reproduce**
1. Search for a pr

[2020-09-25 08:32] #256 closed

[2020-09-28 08:08] #258 closed

[2020-09-28 09:33] #286 closed

[2020-09-28 20:29] #253 closed

[2020-09-29 07:57] Brend-Smits opened #306 "[NEEDS MORE INFORAMTION] Can we get a lector to publish their projects on DeX?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Additional context**
Example is: https://www.htesfontysict.nl/mobile-agrobots/ , https://fontys.nl/Over-Fontys/Fontys-Hogeschool-ICT/Onderz

[2020-09-29 08:05] Brend-Smits opened #307 "[NEEDS MORE INFORMATION] Find projects and add them manually"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Additional context**
To test if the platform is working and to test if there are certain features missing, we want to add some of the proje

[2020-09-29 08:47] #284 closed

[2020-09-29 12:58] #97 closed

[2020-09-29 13:04] #296 closed

[2020-10-01 11:09] #298 closed

[2020-10-02 09:54] Brend-Smits opened #310 "[NEEDS MORE INFORMATION] Dataofficer role that has the authorization to remove and request data GDPR"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Additional context**
Add any other context or screenshots about the feature request here.

[2020-10-02 10:43] waltersajtos opened #311 "Displaying projectIcons in the frontend"
**Is your feature request related to a problem? Please describe.**
Currently, there is no way to display/ view project icons in the front end.

**Describe the solution you'd like**
On the project-detail page, the placeholder icon should be replaced with the correct project icon.

[2020-10-02 12:48] waltersajtos commented on #311
Maybe it is also an option to show the icons on the overview page but I am not sure if would be useful other than adding some variety and maybe make it look more interesting.

[2020-10-02 15:15] #299 closed

[2020-10-05 15:08] Niekvandam opened #313 "Update alt img tags"
Image tags have to be updated to contain filler content - since a lot of them are empty right now - in order to increase our ranking in the SERPs.

[2020-10-06 10:38] mmerel commented on #306
Extra link: www.fontysmade.nl benoemen. De informatie van studenten projecten die daar gepresenteerd wordt (werd) is onderdeel van de canvascourse van game design als oplevering. Probleem is integratie van CANVAS-FONTYSMADE en een content eigenaar die consequent alle info van CANVAS naar de website overhevelt.

[2020-10-06 10:39] mmerel commented on #306
Alvast goedkeuring vanuit Teade P. (https://www.htesfontysict.nl) en Wouter S. (www.fontysmade.nl)

[2020-10-08 08:32] waltersajtos opened #314 "Edit project buttons not working after redirect"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to a project-detail page
2. Click on the edit button
3. Edit the project
4. Click save
5. The edit and delete button don't work anymore

**Expected behavior**
The buttons to be clickable after a redirect

**Additional context**
I'm not sure why it's not working, the URL

[2020-10-08 10:17] #195 closed

[2020-10-09 07:45] waltersajtos commented on #311
For localhost, the images would be on http://localhost:5001/Recourses/[FileName]

[2020-10-09 08:30] waltersajtos commented on #311
This is the data that the project endpoint returns
![image](https://user-images.githubusercontent.com/32552097/95561033-68496500-0a1a-11eb-80cf-9dbb133a8673.png)

[2020-10-11 16:01] Brend-Smits commented on #310
See https://github.com/DigitalExcellence/dex-backend/issues/265

[2020-10-11 16:01] #310 closed

[2020-10-11 16:02] Brend-Smits commented on #302
Nice find :)

[2020-10-11 16:04] Brend-Smits commented on #271
Together with @niraymak you should investigate and make a rough design on how a recommendation system should look like. Where does it fit in our platform, how should it look?

[2020-10-11 16:06] Brend-Smits commented on #293
We need a good use case before we can implement this. I will close it until we have one.

[2020-10-11 16:06] #293 closed

[2020-10-11 16:09] Brend-Smits commented on #265
@rubenb994 how's this going?

[2020-10-11 16:16] Brend-Smits opened #319 "Design: Project Wizard"
**Is your feature request related to a problem? Please describe.**
There is currently a very poor implementation of the project-add page. It's messy and is not user friendly.

**Describe the solution you'd like**
We want to add a so-called Wizard that guides users through the process of adding a project or idea. This needs to take into account that we want to add deeper integration with sources li

[2020-10-11 16:19] Brend-Smits opened #320 "Design & Implementation: Updated Background"
**Is your feature request related to a problem? Please describe.**
Background is currently very plain and boring.

**Describe the solution you'd like**
Interest the design a bit more by implementing a clean and nicer background. A very subtle icon or color shift might be enough.

**Additional context**
Davey and Julia already started working on this.

[2020-10-11 16:24] Brend-Smits opened #321 "Design & Implementation: Smooth Animations"
**Is your feature request related to a problem? Please describe.**
DeX can feel a little bit shallow and plain.

**Describe the solution you'd like**
Adding miscellaneous things like animations on clicking a button, hovering something or a loading screen will give DeX users a better feeling. These animations need to be consistent and should not draw away the attention of users.

**Additional conte

[2020-10-11 16:28] Brend-Smits opened #323 "Redesign: Project Detail Page"
**Is your feature request related to a problem? Please describe.**
The project detail page needs a solution for the many buttons, and maybe a more interesting page layout.

**Describe the solution you'd like**
A redesign to make the project detail page more interesting, while keeping it clean and organized. The redesign should also take into consideration that we will be expanding into adding more

[2020-10-11 16:31] Brend-Smits opened #324 "Design & Refactor: Call-to-action on project detail, edit and add pages"
**Is your feature request related to a problem? Please describe.**
Users can add call-to-actions like "Collaborate with us!" or "Apply here" buttons on their projects. But no official design was created for this, it has been freestyled.

**Describe the solution you'd like**
Create a nice design for this and update the implementation reflecting this design change. The change will need to be applied

[2020-10-11 16:37] Brend-Smits commented on #307
It might be best to not use your personal account for this when adding these projects. We should create a new user for this with the name "DeX User" or something.

[2020-10-12 09:49] DaveyHurkmans opened #325 "Design: Dark Theme"
**Is your feature request related to a problem? Please describe.**
Designing and implementing a dark theme for DeX.

**Describe the solution you'd like**
Design a dark theme to contast the light theme in Adobe XD, after finalizing the concept we will talk it over and start implementing it.

[2020-10-12 13:42] Brend-Smits opened #328 "Research: Streamlining the design process"
**Is your feature request related to a problem? Please describe.**
Currently we have to share the Adobe XD files manually after each change. This does not work properly and is very annoying.

**Describe the solution you'd like**
Research how we can streamline this process so everyone can work together and we don't have to upload adobe xd files manually.

[2020-10-12 17:00] Brend-Smits commented on #276
Fixed

[2020-10-12 17:00] #276 closed

[2020-10-12 17:00] Brend-Smits commented on #277
Fixed

[2020-10-12 17:00] #277 closed

[2020-10-26 09:24] DaveyHurkmans commented on #319
Started making some Designs for this AdobeXD

<img width="791" alt="designs-wizard" src="https://user-images.githubusercontent.com/31689204/97155312-77981480-1775-11eb-9460-9a5c2dd0ca1e.png">

[2020-10-26 10:18] Brend-Smits commented on #319
I think we should take a look at a few examples and see what we like about these examples.
https://dribbble.com/shots/4411666-MonkeyLearn-Wizard-Part-2
The thing I like about this one is the 'source selection' at the start. I think we could benefit from something like that as well. We could essentially make the whole project-add page into a wizard. Thoughts? I also like that the header on the page

[2020-10-26 10:32] liekevdvoort commented on #319
I think we maybe should consider making it more like an edit inside of the end result (for the project that don't get auto loaded or after they are loaded to adjust) so you can kind of preview how it looks once it's on dex for users to see.

Don't know if that's a clear explanation

![image](https://user-images.githubusercontent.com/49523639/97161987-d9a94780-177e-11eb-85fc-cde372feaa7c.png)

[2020-10-26 13:23] Niekvandam opened #332 "Improve PageSpeed/Lighthouse score"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Additional context**
Add any other context or screenshots about the feature request here.

[2020-10-27 09:49] juliaslaats commented on #319
I like your design Davey, I think it could be a bit more 'fun'. Maybe some icons or graphics would help, I know a lot of people don't like to read, so that would help with that as well.

I think the steps Brend put in order would be good. It will also help to give a bit more 'flow' to the steps. Step 6 is similar to what Lieke points out, I think. So that would be a good addition. It would be nice

[2020-10-27 10:05] DaveyHurkmans commented on #320
![image](https://user-images.githubusercontent.com/31689204/97286969-4fc3b200-1844-11eb-80c1-0aa8c1e867fc.png)
Design session #1 with julia

[2020-10-27 10:09] DaveyHurkmans commented on #320
@Brend-Smits Feedback please

[2020-10-27 10:17] juliaslaats commented on #320
To prevent weird scaling of the background we thought of the option to make it fixed. That way the background always has a similar size, so it won't look weird when the page gets longer. As you can see we made a couple different options, all with he same idea of putting the logo in the background to make it a bit more visually appealing.

We can show the designs more dynamically in the meeting wit

[2020-10-27 10:20] juliaslaats commented on #279
![image](https://user-images.githubusercontent.com/71012148/97288437-20ae4000-1846-11eb-95a9-224dd3960981.png)
![image](https://user-images.githubusercontent.com/71012148/97288465-286de480-1846-11eb-8123-a6f8e14b2e97.png)

Inspired by a couple other places, I decided to make the background change color when you hover above the name, to illustrate that the name is clickable. I also changed the font

[2020-10-27 10:21] juliaslaats commented on #279
@liekevdvoort @DaveyHurkmans @Brend-Smits @devoncavis Any feedback is welcome!

[2020-10-27 11:11] liekevdvoort commented on #323
![image](https://user-images.githubusercontent.com/49523639/97293796-70dcd080-184d-11eb-8a2a-903bc3409f03.png)
![image](https://user-images.githubusercontent.com/49523639/97293849-8225dd00-184d-11eb-9a86-52fad91c9973.png)

Voordelen popup
- sneller in klikken minder van een commitment
- makkelijker responsive
- context blijft op de achtergrond
- visueel wit werkt beter op de achtergrond denk ik
-

[2020-10-27 13:18] DaveyHurkmans commented on #319
My idea was to implement Dex Rex to help with the wizard like clippy would do in the old ms word

[2020-10-29 12:26] Brend-Smits opened #333 "Reference dex.software on existing public posts"
**Is your feature request related to a problem? Please describe.**
DeX ranks low on SEO. To improve our existance on Google we need other public websites to link to dex.software. We need help with this though.

**Describe the solution you'd like**
DeX needs to be added to public posts. We need this for SEO. We need to earn Google's trust and this is done by having more websites link to our website

[2020-10-29 12:29] Brend-Smits commented on #333
@mmerel

[2020-10-30 10:48] Niekvandam opened #334 "Add keywords to DeX"
<h1> Keywords improvement </h1>
In order to gain more organic clicks, we should increase the number of keywords that DeX incorporates. Keywords make your website appear on SERPs when querying for specific terms, which is one of the major ways to increase organic clicks.

<h2> Basic list of improvements</h2>

There are plenty of guides online on how to update the keywords of a website, I listed the

[2020-10-30 12:06] liekevdvoort commented on #323
![project-details-with-image](https://user-images.githubusercontent.com/49523639/97703339-c1079d00-1ab0-11eb-8a81-4f05bdbb077c.PNG)
![project-details-with-image-small](https://user-images.githubusercontent.com/49523639/97703343-c1a03380-1ab0-11eb-8e12-21f3d4e9e901.PNG)
![project-details-without-image](https://user-images.githubusercontent.com/49523639/97703345-c1a03380-1ab0-11eb-9d83-538b2da97644.

[2020-10-30 12:08] liekevdvoort commented on #323
Keep in mind that these popups are normally not visible but i wanted to include them to show how it works. It would be a lot less messy when these are not opened but they normally are not

[2020-10-30 15:16] Brend-Smits opened #336 "Projects with a complex description take a while to load"
**Describe the bug**
Project Detail page takes a long time to load if the description of the project is complex and/or large.
Examples are:
- https://dex.software/project/details/85-awesome-dotnet (takes very long)
- https://dex.software/project/details/22-ikea-tradfri-api (less long but still a delay)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://dex.software/project/details

[2020-11-02 13:08] juliaslaats commented on #323
I think they look really good. If I'm being picky, it feels a bit odd to me to put that all the way outside of the popup window (especially on the desktop view). Would it be an option to put that in the corner of the little window?

[2020-11-04 13:26] DaveyHurkmans commented on #320
![dex-background-fix](https://user-images.githubusercontent.com/31689204/98117198-a9ae2280-1ea9-11eb-83aa-21c683c89c97.gif)

[2020-11-04 13:58] juliaslaats commented on #320
I finetuned the sizing of the background, it now looks like this:

![gif-background](https://user-images.githubusercontent.com/71012148/98120365-26db9680-1eae-11eb-8bc3-3dd21331fb02.gif)

[2020-11-04 17:23] #320 closed

[2020-11-04 20:48] DaveyHurkmans commented on #319
**Wizard overview page design:**
![wizard-overview](https://user-images.githubusercontent.com/31689204/98166243-696d9500-1ee7-11eb-9d29-5073a653f089.jpg)

**Wizard design**
![wizard](https://user-images.githubusercontent.com/31689204/98166247-6a062b80-1ee7-11eb-9df1-a3683097e686.jpg)

[2020-11-05 12:20] Brend-Smits commented on #323
I think the designs look great, awesome work. I think we should also include the modal popups from editing/adding/removing a highlight in the designs to make them complete. Could this be added?

[2020-11-05 15:54] #266 closed

[2020-11-06 09:04] Brend-Smits opened #338 "Project Icon not loading on production"
**Describe the bug**
Project Icons / Files are not loading on staging after uploading a new project icon. This is likely because of using the wrong paths (windows style vs Linux).

**To Reproduce**
Steps to reproduce the behavior:
1. Go to staging.dex.software.
2. Create a project and upload a file
3. Navigate to the project and see 404 on image.

**Expected behavior**
Working project icon

**Scre

[2020-11-06 09:05] Brend-Smits opened #339 "When image is not found, show placeholder instead of 404"
**Is your feature request related to a problem? Please describe.**
When an image returns a 404 code, indicating that it's not found. It shows ugly text with image not found icon.

**Describe the solution you'd like**
 We should return a placeholder instead of:
![image](https://user-images.githubusercontent.com/15904543/98347300-886b4480-2017-11eb-9694-d52fb5272459.png)

**Additional context**
Add

[2020-11-06 10:01] waltersajtos commented on #314
It seems like this is caused by the alert, it closes but it is somehow blocking the buttons

[2020-11-06 10:08] niraymak opened #341 "Design & HTML: Design a DeX mail template"
**Is your feature request related to a problem? Please describe.**
With upcoming notification system I think it is required to have template for mails.

**Describe the solution you'd like**
Design and HTML page functioning as a template for mailing.

**Additional context**

[2020-11-06 10:32] liekevdvoort commented on #319
For the overview, I would try making the background white and the inputs grey or white with a shadow. I think the layout looks good.

For the wizzard I would place different images for each step, (you probably already wanted to do this)

[2020-11-06 10:36] juliaslaats commented on #319
It looks really good! I like that it's both clean and functional, but still fun (especially with the future addition of the DeX Rex) 👍

I do have a couple remarks/questions:
- of the screens in your first image, I like the bottom-left one the most, but I don't know if it's a choice between those?
- What will the Add project overview page be used for? I still think that looks a bit too cluttered.
-

[2020-11-06 10:44] liekevdvoort commented on #319
Maybe this is a informed choice but I don't know if I would make the progress bar stop halfway between the points

[2020-11-06 13:49] niraymak opened #343 "Project icon doesn't show up when searching for projects"
**Describe the bug**
When searching for projects the project icon does not show up.

**To Reproduce**
1. Go to (staging)dex.software.
2. Go to project overview page.
3. Search for project with custom icon.
4. Projects shows placeholder icon instead of custom icon.

**Expected behavior**
Project should show custom icon that belongs to the project.

**Screenshots**
https://gyazo.com/9279bedf539ef571

[2020-11-06 14:34] #311 closed

[2020-11-06 17:49] liekevdvoort opened #346 "Grid layout with cards dex projects page"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
To make dex more fun and give options to the user we decided that cards would work well and with the possible future addition of images this makes sense. We want to add the grid layout with cards as the default option but incorporate a swit

[2020-11-06 17:50] liekevdvoort commented on #346
![image](https://user-images.githubusercontent.com/49523639/98398228-e83a0d80-2060-11eb-8d3c-5fce850f5fbe.png)
This would be made with css grid and a repeat minmax to the columns for automatic responsiveness

[2020-11-06 17:51] liekevdvoort commented on #346
![image](https://user-images.githubusercontent.com/49523639/98398336-191a4280-2061-11eb-82f0-a4809f2a6326.png)
Preview of other options and options with images

[2020-11-06 17:52] liekevdvoort commented on #346
![image](https://user-images.githubusercontent.com/49523639/98398425-45ce5a00-2061-11eb-8bf5-2e32930f2159.png)

This would be made with css grid and a repeat minmax to the columns for automatic responsiveness

[2020-11-06 17:54] liekevdvoort commented on #346
![image](https://user-images.githubusercontent.com/49523639/98398607-84641480-2061-11eb-82cd-0add1a60f05d.png)

[2020-11-06 18:07] liekevdvoort commented on #323
![image](https://user-images.githubusercontent.com/49523639/98399579-e8d3a380-2062-11eb-92f2-9c336cd567e7.png)
![image](https://user-images.githubusercontent.com/49523639/98399641-00ab2780-2063-11eb-8169-94402d5b8f65.png)
Design highlight popups with structure how it is now

![image](https://user-images.githubusercontent.com/49523639/98399702-1caec900-2063-11eb-9352-e2a665b9b86b.png)
Design test e

[2020-11-06 20:44] Brend-Smits opened #347 "Add Open Graph Meta Tags to show information when sharing the platform on platforms like Discord"
**Is your feature request related to a problem? Please describe.**
When you link https://dex.software on platforms like Discord or Facebook, it will not show a 'summary' or 'description' or 'icon'. The lack of these tags is bad for SEO and search engines. It's also inconvenient when linking it on Discord for example

**Describe the solution you'd like**
TOpen Graph Meta Tags are what is used to cr

[2020-11-09 07:45] Brend-Smits commented on #323
@matir8 what do you think of the above designs?

[2020-11-09 10:14] juliaslaats opened #348 "Fix layout on project detail page for small devices"
**Describe the bug**
On small devices, the layout of the project detail website doesn't work well.

**To Reproduce**
Steps to reproduce the behavior:
1. Open dex.software on smaller (mobile) devic
2. Click on project to go project detail place
3. See error

**Screenshots**

<img src="https://user-images.githubusercontent.com/71012148/98525640-05e1bf80-2279-11eb-940a-5778fd55b7b2.png" width="300" /

[2020-11-09 11:30] DaveyHurkmans commented on #319
Two new versions with other images, thanks for the feedback guys!

![image](https://user-images.githubusercontent.com/31689204/98535959-3fb9c280-2287-11eb-9879-945a364224da.png)
![image](https://user-images.githubusercontent.com/31689204/98535334-33813580-2286-11eb-8fdd-531c53a550df.png)

[2020-11-09 11:59] DaveyHurkmans commented on #319
Added step 5 and 6, @Brend-Smits Could we brainstorm about what content we need. I made these six but I dont know if I missed something!
![image](https://user-images.githubusercontent.com/31689204/98538483-1bf87b80-228b-11eb-8768-4668753b0fde.png)

[2020-11-09 12:09] DaveyHurkmans commented on #319
**Both are options, i didnt know if we wanted to categorize them or just loose options.**

**Editing after the wizard and checking if everything is correct, any ideas to make it less cluttered maybe remove the orange boxes?**

**They will be displayed over the Overview page and while filling in the wizard they will add content to the overview page**

**I now made it so that there are 2 places eith

[2020-11-09 15:12] juliaslaats commented on #280
I made some designs, to allow users to be able to follow both users and tags.

You can see it 'in action' here.
![ezgif com-gif-maker (2)](https://user-images.githubusercontent.com/71012148/98553564-080b4480-22a0-11eb-8d81-53ecf93d0a34.gif)

And some (more detailed) pictures of the three states of the buttons.

(in order: default, on hover, on clicked)
![image](https://user-images.githubuserconten

[2020-11-09 15:34] juliaslaats commented on #319
@DaveyHurkmans

In that case my opinion stays the same, I'd prefer the bottom-left one!

Would it be an option to make the layout more similar to the existing project page?

So it would look something like this, but maybe with edit-buttons added for quick editing?
<img src="https://user-images.githubusercontent.com/71012148/98560331-f332af00-22a7-11eb-8051-6b7355703915.png" width="750" />

Alright

[2020-11-09 15:52] DaveyHurkmans commented on #319
I named the the text of the button "Finish" on the last page, I might copy the design of off liekes new designs for the project pages :)

[2020-11-10 07:56] rubenb994 commented on #280
I really like the feature, for following people I'm not sure what I think of the alignment of the title and the name of the person to follow. What do you think about this small alignment improvement I made
![image](https://user-images.githubusercontent.com/34919304/98645689-9e884600-2332-11eb-8af4-4c0754c16bb0.png)

[2020-11-10 08:11] Brend-Smits commented on #280
This looks great! However, I'm not sure if I'm a big fan of the colors for the contributors. What do other @DigitalExcellence/frontend think?

[2020-11-10 08:15] Brend-Smits commented on #319
This looks amazing! Let's schedule a meeting for today @DaveyHurkmans to discuss and brainstorm them? Does anyone else want to join?

[2020-11-10 08:17] Brend-Smits commented on #323
As discussed, I think we should move forward using the following designs:
https://user-images.githubusercontent.com/49523639/98401299-bd9e8380-2065-11eb-9399-e483418b8b86.png
https://user-images.githubusercontent.com/49523639/98399641-00ab2780-2063-11eb-8169-94402d5b8f65.png

Once the mobile versions are ready, we can move onto implementation.

[2020-11-10 08:18] Brend-Smits commented on #346
I like the last one the most, what does @DigitalExcellence/frontend think?
Great work Lieke!

[2020-11-10 08:23] liekevdvoort commented on #280
I would consider making the labels round in contrast with our button's
![image](https://user-images.githubusercontent.com/49523639/98648299-63881180-2336-11eb-8968-e34e11c41f38.png)

[2020-11-10 08:27] liekevdvoort commented on #280
As for the follow users function what happens when I do that? do I get notifications of his or her projects?

[2020-11-10 08:40] liekevdvoort commented on #319
could you make a version with the progress steps horizontal it seems a bit full in the middle and leftover space at the top and bottom this would also make it better responsive for mobile. Not sure if it will work well but it seems that the space is there

[2020-11-10 08:41] liekevdvoort commented on #319
Wanted to add think it looks good !

[2020-11-10 08:52] liekevdvoort commented on #280
I would maybe make the profiles clickable and then link to their page with their projects with a follow button because I don't think we have space in all the places where we want to display the users to place this. (But make your own mind up about what you want to do with that)

[2020-11-10 09:15] liekevdvoort commented on #323
(mobile) designs new hightlight settings popup @Brend-Smits
![image](https://user-images.githubusercontent.com/49523639/98653625-8964e480-233d-11eb-856f-f0d2a427cd9b.png)
![image](https://user-images.githubusercontent.com/49523639/98653659-9550a680-233d-11eb-8e9e-84789108a73b.png)
![image](https://user-images.githubusercontent.com/49523639/98653696-a3062c00-233d-11eb-91ec-2c1e17f73fe4.png)
![image

[2020-11-10 09:17] liekevdvoort commented on #323
When there is no highlight the project details popup says create highlights and links you directly to the second popup

if there are more highlights the project details popup will say highlight settings and link to the first popup if you click on one of the items you go to the specif highlights settings

[2020-11-10 09:18] liekevdvoort commented on #323
I'm not too great with text so if you find more fitting names for the highlight popup's title just adjust them to your liking

[2020-11-10 09:23] liekevdvoort commented on #323
![image](https://user-images.githubusercontent.com/49523639/98654326-77d00c80-233e-11eb-9b8e-891f7293feea.png)
![image](https://user-images.githubusercontent.com/49523639/98654354-81597480-233e-11eb-982a-39768b4ef706.png)

![image](https://user-images.githubusercontent.com/49523639/98654417-93d3ae00-233e-11eb-8f7e-6629f9069954.png)
![image](https://user-images.githubusercontent.com/49523639/986545

[2020-11-10 09:29] juliaslaats commented on #280
@liekevdvoort

Yes I think that is exactly what would happen, although that was not really part of this issue :D

I would like some more people's opinion on that. It could be an option to make it less cluttered. @DigitalExcellence/frontend

I really like that, I'll try that out!

[2020-11-10 09:33] liekevdvoort commented on #323
Totaal overview
![image](https://user-images.githubusercontent.com/49523639/98655817-33de0700-2340-11eb-94f3-6b41cb5836e4.png)

[2020-11-10 10:14] juliaslaats commented on #280
I made a second version, yay!

![image](https://user-images.githubusercontent.com/71012148/98660127-3bec7580-2345-11eb-9adb-1522a75ba387.png)

I made the tags more round, I agree this looks a lot better!
![image](https://user-images.githubusercontent.com/71012148/98659977-06478c80-2345-11eb-85bb-8433122d0dae.png)

I made the contributors a different color, and added a better alignment.
![image](ht

[2020-11-10 11:38] Brend-Smits opened #349 "Project icons shrink when short description is long"
**Describe the bug**
Project icons shrink when the short description is long, causing weird looking designs.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://dex.software/project/overview
2. Visit page 2 or page 3
3. When the short description is too long, the project icon will mess up in size.

**Expected behavior**
Properly scaled icons, even when the short description is too

[2020-11-10 12:50] liekevdvoort commented on #346
![image](https://user-images.githubusercontent.com/49523639/98676303-b9bb7b80-235b-11eb-8b75-073b8b99309e.png)
option with likes

[2020-11-10 13:22] juliaslaats commented on #346
How does the option with likes work? When does the icon appear over the card? Because it seems to be in a little bit of a weird position. There is also a separate issue about the possibility to like projects: #281, I'm planning to work on that so maybe I could use a similar approach :)

Besides that I really like how you made the design! Would the (optional) list-view still be the same as it is no

[2020-11-10 13:28] #279 closed

[2020-11-10 13:29] liekevdvoort commented on #346
It has two options one on a hover with multiple designs (the first image)
second one has the number of likes in the card and had no hover.

Yes the list view would be the same as it is now, but about the update indeed that's a good suggestion forgot about that i'll look into it. but one of the strengts of the two options system is i think that the cards have more information but less cards on a pa

[2020-11-10 13:34] juliaslaats commented on #346
That makes sense,  I do really like the one where the number of likes is displayed with a little heart (that I assume you can click to give a like). But I don't like the hover option, because I think you should be able to still click the project to go to the project-detail page instead of going straight into liking the project.

I agree with you that the strength of the cards is more info, so mayb

[2020-11-10 13:42] liekevdvoort commented on #346
@julia yes i also prefer the one in the card and yes you can click that to like it

For the hover you can still click next to the button on this one that would take you to the project detail page on the black circle would like it
![image](https://user-images.githubusercontent.com/49523639/98681385-ef179780-2362-11eb-9222-098a40dc45eb.png)

[2020-11-10 14:37] Brend-Smits opened #350 "Searching does not include project icon"
**Describe the bug**
When using the project search function, the project icons are not included.

**To Reproduce**
Steps to reproduce the behavior:
1. Go https://dex.software/project/overview
2. Search for "Nudge" or "nudging"
3. See that icon is missing

**Expected behavior**
Icon should be included in the search results

**Screenshots**
![image](https://user-images.githubusercontent.com/15904543

[2020-11-10 15:38] rubenb994 opened #351 "Store pagination in query params"
**Is your feature request related to a problem? Please describe.**
Pagination should be stored in the query params so that when an user navigates back to for example, the project overview, their last visited (pagination) page will automatically be selected.

Current behavior:
1. I navigate to the 5th page on the project overview
2. I open a project detail page
3. I press my back button to navigate

[2020-11-10 15:42] niraymak opened #352 "Unclickable 'edit' / 'delete' project icons"
**Describe the bug**
Sometimes it is not possible to click the 'edit' / 'delete' project icon in the project details page.
It is still unclear what causes this problem.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://dex.software/project/add/source
2. Login with your FHICT account.
3. Upload a project.
4. Redirect to your uploaded project.
5. Hover / click over edit / delete bu

[2020-11-10 17:27] Brend-Smits commented on #314
Closed in favor of #352

[2020-11-10 17:27] #314 closed

[2020-11-10 17:27] Brend-Smits commented on #352
Thanks for the bug report, please also check out #314 for some additional details.

[2020-11-11 10:07] liekevdvoort commented on #280
Yeah i like the hover idea i'm thinking maybe you could put the title in a tooltip and just get rid of the follow tooltip because if you keep the hovers like this you still need to put margins on top when it's not hovered otherwise everything will move

[2020-11-11 10:13] DaveyHurkmans commented on #319
@liekevdvoort changed the colors like you asked!
![image](https://user-images.githubusercontent.com/31689204/98798978-ccdb5380-240e-11eb-80a8-28e7ffac38b7.png)

[2020-11-11 10:15] liekevdvoort commented on #319
Yes since the wizard isn't in a popup you can take both options (ik weet niet hoe je dit in het engels zegt "wat mij betreft) choose which one you like most

[2020-11-11 10:17] juliaslaats commented on #280
I think for the role to display on hover, it would work best with the first contributor option. If the role I on the same line as the name, like in the first option, the name would just slide to the right, there'll probably just be room for that.

But I can also try out as a tooltip, thankyou!

[2020-11-11 10:19] DaveyHurkmans commented on #319
yes thought I might give it a go :) to reply to youre proposal :D

[2020-11-11 11:04] liekevdvoort commented on #346
![image](https://user-images.githubusercontent.com/49523639/98804075-fa77cb00-2415-11eb-8f9d-9484d9750af9.png)

[2020-11-11 11:28] liekevdvoort commented on #346
![image](https://user-images.githubusercontent.com/49523639/98806371-61e34a00-2419-11eb-9f56-4980e4873a2a.png)
![image](https://user-images.githubusercontent.com/49523639/98806386-6d367580-2419-11eb-928b-aa5109e99575.png)

[2020-11-12 10:33] DaveyHurkmans commented on #319
Updated the wizard designs to include the project icons and project images:
![image](https://user-images.githubusercontent.com/31689204/98928465-1b095900-24da-11eb-8723-5dff9ddc68e4.png)

I will still have to take a look at:
- Different flows per source
- Screens for authorisation / source (Was thinking an iframe that directs to the login page / @juliaslaats @liekevdvoort )

[2020-11-12 14:43] waltersajtos commented on #328
Adobe offers a paid plan that integrates this into the xD itself, I never used it but people say it works good. It's 10$ per month, that might be an issue
https://www.adobe.com/products/xd/pricing/individual.html?promoid=4F569MBS&mv=other

[2020-11-16 09:49] niraymak opened #354 "Collaborator name length"
**Describe the bug**
When the collaborator's name is too long the delete icon's don't show up properly and the names overlap the other ones.

**To Reproduce**
1. Upload projects
2. Add collaborators with longs names

**Expected behavior**
The names don't overlap each other and the delete icon's show up like the other ones.

**Screenshots**
https://gyazo.com/50dec2a9d454cc3bae782cbf6ed7a59b

**Addi

[2020-11-16 14:23] niraymak opened #355 "Research: added value of linking projects to eachother"
**Is your feature request related to a problem? Please describe.**
Currently all projects are seperate from eachother. Within DeX we already have 2 projects: frontend and backend.
In the future this could be even more smaller projects.
FHICT has several projects that go from one semester to another and also switch between specialisations (or maybe even go to other Fontys educations).
An example is

[2020-11-16 18:46] waltersajtos commented on #350
For more details, check out #343

[2020-11-16 18:47] #343 closed

[2020-11-19 11:02] #352 closed

[2020-11-19 12:19] Brend-Smits opened #358 "Staff panel to manage roles and request data"
**Is your feature request related to a problem? Please describe.**
There is no way to assign/remove roles to users.
There is no way to request data and remove data on behalf of users (https://github.com/DigitalExcellence/dex-backend/issues/267)

**Describe the solution you'd like**
Staff panel that is only accessible to data officers or administrators. In the staff panel there can be two pages/tab

[2020-11-19 12:22] Brend-Smits commented on #265
For anyone that likes to pick this up, there is an existing branch for this. It's nearly finished, just needs a bit more work.

[2020-11-19 12:36] #349 closed

[2020-11-19 12:37] #285 closed

[2020-11-19 13:29] #339 closed

[2020-11-19 14:45] Brend-Smits commented on #332
To further improve lighthouse scores, I've added a Content Delivery Network called Cloudflare.  Cloudflare is a trusted industry leader in CDN's. They offer a great product free of charge.
Some of the features we're using from them are:
- Analytics (basic)
- Caching
- Compression
- DDoS Mitigation

Our DNS is now also managed at Cloudflare instead of Name.com
This change has resulted in the follow

[2020-11-19 20:15] #336 closed

[2020-11-22 21:07] liekevdvoort commented on #319
@Brend-Smits @DaveyHurkmans moeten we nog nadenken over de verschillende tabs die in de popup komen en of hier nog extra inputs in moeten daarvoor?

[2020-11-22 21:08] liekevdvoort commented on #319
En we moeten het nog hebben over de categorieen en project icon als losse dingen voordat we dit de project detail en de overview gaan bouwen

[2020-11-23 08:27] Brend-Smits commented on #319
I don't speak Dutch :( Can you edit your message and translate it to English please so everyone can join in on the conversation? Thanks!

[2020-11-23 08:44] liekevdvoort commented on #319
@Brend-Smits yes sorry I forgot

[2020-11-23 10:27] juliaslaats commented on #323
![image](https://user-images.githubusercontent.com/71012148/99951509-85de4e00-2d7e-11eb-9b73-61e571f1c768.png)

I made a design to combine this with my designs from #280 , like discussed before.

Would like to know what you think @liekevdvoort @DaveyHurkmans

[2020-11-23 11:01] liekevdvoort commented on #323
Yes nice, I would keep the contributors with a number in the top part of the popup if you want without the tooltip because it's relevant info I think.

[2020-11-23 11:42] DaveyHurkmans commented on #319
Some first iterations for the mobile version:

![image](https://user-images.githubusercontent.com/31689204/99958221-46692f00-2d89-11eb-9964-16e6e0ba4854.png)

[2020-11-23 12:25] Brend-Smits opened #361 "Implementation: Project Wizard"
**Is your feature request related to a problem? Please describe.**
Outdated project-add page.

**Describe the solution you'd like**
Implement the designs from #319

**Additional context**
Davey is taking lead on implementation.

[2020-11-23 12:26] Brend-Smits commented on #319
Perfect, we can move onto implementation now. Nice work everyone, thanks for the extensive feedback!
#361 is the issue for the implementation part.

[2020-11-23 12:26] #319 closed

[2020-11-23 13:00] DaveyHurkmans commented on #323
@juliaslaats did we not agree upon using the 1 color contributor cards? I think we spoke about it in the first design meeting a couple of weeks ago. Can you upload the different design options so we could vote on them? :)

[2020-11-24 08:48] waltersajtos commented on #361
I think we need to create a flow for every source before we start implementing anything so we are sure that the implementation makes sense.

[2020-11-24 08:56] Brend-Smits commented on #361
The available steps/designs are sufficient for all the flows we could think of at this moment. Davey will take on the majority of the development as he knows the ins and outs.

[2020-11-24 09:16] Brend-Smits commented on #319
To give some more insights on previous concerns:
- The tabs that are shown in #323 for instance, can easily be added to the wizard by adding new steps. The image gallery step that is currently shown, can go into their own step. The same goes for any other information that would be required in the future. An example would be the "technical" tab.
- Categories are not currently implemented in the bac

[2020-11-24 10:27] liekevdvoort commented on #323
![image](https://user-images.githubusercontent.com/49523639/100082076-0e74f100-2e48-11eb-8ec5-4a74288ee86c.png)

[2020-11-24 10:51] juliaslaats commented on #323
Updated according to yesterdays feedback:
![image](https://user-images.githubusercontent.com/71012148/100084429-0d918e80-2e4b-11eb-8256-f35880a1d671.png)

I did notice that due to me using Liekes design, a couple icons didn't work in my Xd because (of course) Adobe couldn't find them on my laptop. For some reason they turned into words. Maybe it'll look better if Lieke opens it locally, I'll put m

[2020-11-24 10:54] juliaslaats commented on #323
Also feeback for @liekevdvoort I think it looks really good!

Maybe the buttons on the bottom could be centered a little better. And will they always be visible, or only when the 'description' tag is open?

If they're always open, maybe there can be a little divider between them and the description.

[2020-11-24 11:03] liekevdvoort commented on #323
@juliaslaats only in the description and people can turn them on so they most likely won't be visible all at the same time

[2020-11-24 11:54] Brend-Smits opened #362 "Implement new project detail page"
**Is your feature request related to a problem? Please describe.**
Project Detail page could use a refresh :)

**Describe the solution you'd like**
Now that #40 is nearing completion, we can start on implementation. @liekevdvoort will take lead on this, @Niekvandam and I will be here to support with technical things when needed

[2020-11-24 14:34] Niekvandam opened #364 "Update open graph preview image"
**Is your feature request related to a problem? Please describe.**
The open graph preview image is currently the Digital Excellence logo. This looks fine in Discord etc. but in twitter or facebook previews, the image becomes warped as seen below.

**Production URL**
https://dex.software
Can this issue be linked to a relevant production URL? If so, please post the full link here, don't use hyperlin

[2020-11-25 09:45] liekevdvoort opened #365 "Implement new design project overview"
**Is your feature request related to a problem? Please describe.**
Overview page isn't really responsive and doesn't show a lot of info before clicking

**Describe the solution you'd like**
Implement the new design for it issue #346

[2020-11-25 09:46] #346 closed

[2020-11-25 09:46] #323 closed

[2020-11-25 15:34] #347 closed

[2020-11-26 23:39] #313 closed

[2020-11-27 12:40] Niekvandam opened #366 "Update lighthouse accessibility on /home and /projects/overview"
The DeX lighthouse report has mostly positive values, but the lighthouse accessibility can still be improved. The lighthouse report showed that we have a lot of small issues within the /home page.

<h2> The issues </h2>

- Button elements that do not have a name, this makes screen readers pronounce the button as 'button' .

- There are some form elements without associated labels.

- The DeX logo

[2020-11-27 14:14] Niekvandam opened #367 "Accessibility on the project add page"
<h1> Accessibility on the project add page </h1>
The DeX lighthouse report has mostly positive values, but the lighthouse accessibility can still be improved. The lighthouse report showed that we have a lot of small issues within the /project/add/source page.

<h2> Issues </h2>

- Button elements that do not have a name, this makes screen readers pronounce the button as 'button' .

- One image is

[2020-11-30 09:45] liekevdvoort commented on #348
Can we close this one since were implementing the new design?

[2020-11-30 09:53] liekevdvoort commented on #281
Can we close this one?

[2020-11-30 12:12] Brend-Smits opened #369 "Wiki - Update Project Description to be understandable for outside contributors"
Is your feature request related to a problem? Please describe.
The current project description is okay and is understandable for someone from within Fontys. However, if you're an outside contributor, it might be difficult to understand what is going on and what FHICT/Fontys is.

Describe the solution you'd like
Improve the project description in the wiki, but also on the read me.

Additional conte

[2020-11-30 12:15] Brend-Smits opened #370 "Wiki - Github - Add Community Guidelines"
**Is your feature request related to a problem? Please describe.**
We currently have no official guidelines on how to contribute, how to communicate and things like that.

**Describe the solution you'd like**
Add community guidelines following the Github standard: https://docs.github.com/en/free-pro-team@latest/github/building-a-strong-community/setting-guidelines-for-repository-contributors
It mi

[2020-11-30 12:26] Brend-Smits opened #371 "Wiki - Add branding guidelines + styleguide"
**Is your feature request related to a problem? Please describe.**
Outside contributors should be able to view the style guide and branding guidelines as well. Currently, they are not visible because it's hidden in a drive.

**Describe the solution you'd like**
Create a wiki article in the frontend wiki that links to the branding guidelines and to the style guide. Make sure that these documents ar

[2020-11-30 14:39] juliaslaats commented on #281
I think so, @Brend-Smits ?

[2020-12-01 10:05] #281 closed

[2020-12-01 10:37] #302 closed

[2020-12-01 14:36] juliaslaats commented on #321
I made a start on adding some animations to DeX to make it look a little more exciting.  I don't feel like I'm done yet, but I would love some feedback about what I've made so far. It's on [this branch](https://github.com/DigitalExcellence/dex-frontend/tree/feature/321-smooth-animations).

What I've added:

**On homepage**
- Spinning animation search button
- Search bar grows when typing in it
- S

[2020-12-01 15:50] liekevdvoort commented on #321
Why do you use ease in and not ease-in-out

Maybe it's an idea to put the transitions and scale's etc in the variables stylesheet so they stay the same everywhere (you can still make an exception)

Looking great!

[2020-12-01 17:29] juliaslaats commented on #321
I didn't really think about it, ease-in-out is probably better

That's smart, I'll do that :)

Thankyou! thanks for the feedback!

[2020-12-02 11:54] #365 closed

[2020-12-02 13:07] Brend-Smits opened #372 "404 project icon, show placeholder"
**Describe the bug**
When icon returns 404 for whatever reason, we should probably show the placeholder image / color

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://staging.dex.software/project/overview
2. There's a 404 project icon image there
3. Check the list view and it will have a white project icon
4. Check the project detail page, it will show a white project icon as we

[2020-12-02 13:10] Brend-Smits opened #373 "Overview - Tags are not hidden in production"
**Describe the bug**
The project tags are not yet implemented, they should be hidden in production.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://staging.dex.software/project/overview
2. Make sure you are using the grid view
3. See the project tags being shown

**Expected behavior**
In the project overview page, these tags should also be hidden

**Screenshots**
![image](https

[2020-12-02 13:13] Brend-Smits opened #374 "Project Icons are not loaded async | hang the page when 404"
**Describe the bug**
The project icons are currently being loaded as a background-image. According to a blog here: https://nystudio107.com/blog/the-css-background-image-property-as-an-anti-pattern, this could lead to several problems.
Also, since there's currently a 404 project icon, it will hang the entire page until the request times out... This leads me to believe that the images are not being

[2020-12-02 13:16] Brend-Smits commented on #321
GIFs would speed up the review process. I will be able to check out this branch later hopefully to actually review it in person, but pictures, videos, or gifs would have allowed me to already comment on it ^^